@font-face {
    font-family: ostrichRegular;
    src: url('../fonts/ostrich-regular.ttf');
}

body {
    color: #fff;
    background-color: black;
    position: relative;
}

nav a {
    color: #ccc;
    transition: 0.4s;
}

a:hover {
    text-decoration: none;
    transition: 0.2s;
    color: white;
}

@media screen and (min-width: 992px) {
    .card {
        min-height: 290px;
    }

    .border-sp-left {
        border-width: 0 0 0 2px;
        border-color: rgb(204, 204, 204);
        border-radius: 0;
    }

    .border-sp-right {
        border-width: 0 2px 0 0;
        border-color: rgb(204, 204, 204);
        border-radius: 0;
    }
    .navbar {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 991px) {
    .card {
        border-width: 0 0 2px 0;
        border-color: rgb(204, 204, 204);
        border-radius: 0;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.9);
    }
}

.btn-transparent:hover {
    background-color: rgba(40, 40, 40, 0.5);
}

.btn-inverse:hover {
    background-color: #222;
}

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/group3.jpg'), url('../img/group2.jpg');
    background-size: cover;
    background-position: center;
}

.text-purple {
    color: rgb(0, 233, 185);
}

.bg-black {
    background-color: black;
}

.d-flex {
    min-height: 100vh;
}

.navbar-collapse.collapse.show {
    padding-left: 1rem;
}
.navbar-collapse.collapsing {
    padding-left: 1rem;
}

#navbarNav {
    padding-left: 1rem;
}

#welcome {
    font-size: 200%
}

#vision {
    color: rgb(0, 114, 219);
    transition: 300ms;
}

#vision:hover {
    color: rgb(0, 233, 185);
    transition: 300ms;
}
