body {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.nspire-global-navigation {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  text-align: center;
}

.link-block.w--current {
  padding: 8px 14px;
}

.divider {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-right: 12px;
  margin-bottom: -2px;
  margin-left: 20px;
  background-color: #fff;
}

.global-nav-link {
  margin-left: 10px;
  padding: 12px;
  color: #fff;
  text-decoration: none;
}

.global-nav-link.w--current {
  color: #bdbdbd;
}

.desktop {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile {
  display: none;
}

.hero {
  height: 540px;
  background-image: url('../images/arrchana-bw-quote-feathered.png'), -webkit-linear-gradient(315deg, #2575fc, #6a11cb);
  background-image: url('../images/arrchana-bw-quote-feathered.png'), linear-gradient(135deg, #2575fc, #6a11cb);
  background-position: 97% 100%, 0px 0px;
  background-size: 277px, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

.hero.nbtc {
  background-image: url('../images/arrchana-bw-quote-feathered.png'), -webkit-linear-gradient(315deg, #6a11cb, #6e00e6);
  background-image: url('../images/arrchana-bw-quote-feathered.png'), linear-gradient(135deg, #6a11cb, #6e00e6);
  background-position: 97% 100%, 0px 0px;
  background-size: 277px, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

.local-nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.local-nav-link {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  padding: 30px 5px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.div-block {
  display: none;
  margin-top: 20px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block.nbtc {
  display: block;
}

.logo-pipe {
  display: none;
  width: 1px;
  height: 34px;
  margin-right: 20px;
  margin-bottom: -13px;
  margin-left: 20px;
  background-color: #fff;
}

.text-block-2 {
  display: none;
  font-size: 18px;
}

.heading {
  width: 635px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 54px;
  line-height: 54px;
}

.hero-text {
  position: relative;
  bottom: -160px;
  display: inline-block;
  margin-left: 100px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-text.nspire-org {
  bottom: -215px;
}

.text-block-3 {
  width: 855px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 48px;
}

.image-4 {
  position: relative;
  right: 100px;
  bottom: -11px;
  display: block;
  float: right;
  clear: both;
}

.reasons {
  color: #000;
}

.headings-title {
  display: inline-block;
  margin-top: 0px;
  font-size: 36px;
  font-weight: 400;
}

.paragraph {
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
}

.column {
  height: 100%;
  text-align: center;
}

.row-a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-a.row-b {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.div-block-2 {
  height: 1px;
  margin-top: 110px;
  margin-bottom: 110px;
  background-color: #979797;
}

.text-block-4 {
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.text-applications {
  display: block;
  margin-top: 40px;
  font-size: 18px;
  line-height: 48px;
  font-weight: 300;
  text-align: center;
}

.text-applications.due-date {
  display: none;
  margin-top: 10px;
  font-weight: 700;
}

.button {
  display: inline-block;
  width: 250px;
  margin: 10px 20px;
  padding: 23px 32px;
  border: 1px solid #4a90e2;
  border-radius: 8px;
  background-color: transparent;
  color: #4a90e2;
  font-size: 18px;
  font-weight: 300;
}

.button:hover {
  background-color: #4a90e2;
  color: #fff;
}

.button.apply {
  border-color: #e2504a;
  color: #e2504a;
}

.button.apply:hover {
  background-color: #e2504a;
  color: #fff;
}

.div-block-3 {
  margin-bottom: 240px;
  text-align: center;
}

.button-2 {
  margin-right: 20px;
  margin-left: 20px;
  padding: 12px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  font-size: 18px;
}

.button-2:hover {
  background-color: #fff;
  color: #6a11cb;
}

.button-2.home {
  display: none;
  margin-right: 0px;
  margin-left: 0px;
}

.button-2.no-margin {
  margin-right: 0px;
  margin-left: 0px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 40px;
  color: #979797;
}

.div-block-4 {
  height: 1px;
  margin-right: 100px;
  margin-bottom: 15px;
  margin-left: 100px;
  background-color: #979797;
}

.image-5 {
  margin-left: 100px;
}

.link {
  display: inline-block;
  margin-left: 10px;
  color: #979797;
  text-decoration: none;
}

.link:hover {
  color: #000;
  text-decoration: underline;
}

.text-block-6 {
  display: inline-block;
  margin-right: 100px;
  float: right;
}

.heading-2 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.position-area {
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  text-align: right;
}

.position-title {
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}

.position-description {
  margin-top: 10px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
}

.position-block {
  margin-bottom: 80px;
}

.link-2 {
  display: block;
  color: #4a90e2;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
}

.text-block-7 {
  color: #4a90e2;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  text-align: right;
}

.link-3 {
  color: #4a90e2;
  text-decoration: none;
}

.link-3:hover {
  text-decoration: underline;
}

.other-opportunities {
  display: none;
  margin-bottom: 20px;
  background-image: -webkit-linear-gradient(180deg, #6a11cb, #2575fc);
  background-image: linear-gradient(270deg, #6a11cb, #2575fc);
  font-weight: 400;
}

.other-opportunities.home {
  margin-top: 40px;
  background-image: -webkit-linear-gradient(180deg, #6a11cb, #6e00e6);
  background-image: linear-gradient(270deg, #6a11cb, #6e00e6);
}

.text-block-8 {
  position: relative;
  top: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  font-size: 18px;
  line-height: 36px;
}

.div-block-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.text-block-9 {
  display: inline-block;
  margin-right: 40px;
  font-size: 18px;
  line-height: 36px;
}

.button-3 {
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  font-size: 18px;
  line-height: 36px;
}

.button-3:hover {
  background-color: #fff;
  color: #6a11cb;
}

@media (max-width: 991px) {
  .nspire-global-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .divider {
    margin-left: 16px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: inline-block;
  }
  .text-block {
    display: inline-block;
    color: #fff;
    text-decoration: none;
  }
  .link-block-2 {
    margin-left: 8px;
    padding: 12px;
    text-decoration: none;
  }
  .image-2 {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .hero {
    position: relative;
    height: auto;
    background-image: -webkit-linear-gradient(315deg, rgba(37, 117, 252, .5), #6a11cb), url('../images/arrchana-bw-quote-feathered.png'), -webkit-linear-gradient(315deg, #2575fc, #6a11cb);
    background-image: linear-gradient(135deg, rgba(37, 117, 252, .5), #6a11cb), url('../images/arrchana-bw-quote-feathered.png'), linear-gradient(135deg, #2575fc, #6a11cb);
    background-position: 0px 0px, 100% 100%, 0px 0px;
    background-size: auto, 277px, auto;
    background-repeat: repeat, no-repeat, repeat;
    text-align: center;
  }
  .hero.nbtc {
    background-image: -webkit-linear-gradient(0deg, rgba(106, 17, 203, .5), rgba(110, 0, 230, .5)), url('../images/arrchana-bw-quote-feathered.png'), -webkit-linear-gradient(315deg, #6a11cb, #6e00e6);
    background-image: linear-gradient(90deg, rgba(106, 17, 203, .5), rgba(110, 0, 230, .5)), url('../images/arrchana-bw-quote-feathered.png'), linear-gradient(135deg, #6a11cb, #6e00e6);
    background-position: 0px 0px, 97% 100%, 0px 0px;
    background-size: auto, 277px, auto;
    background-repeat: repeat, no-repeat, repeat;
    background-attachment: scroll, scroll, scroll;
  }
  .local-nav {
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
  }
  .local-nav.nbtc {
    display: none;
  }
  .logo {
    margin-left: 0px;
  }
  .div-block {
    display: none;
    margin-top: 0px;
    float: none;
  }
  .div-block.nbtc {
    display: none;
  }
  .logo-pipe.mobile {
    display: none;
    height: 24px;
    margin-bottom: -9px;
  }
  .text-block-2 {
    color: #fff;
  }
  .text-block-2.mobile {
    display: none;
    font-size: 14px;
  }
  .heading {
    width: auto;
    font-size: 48px;
  }
  .hero-text {
    position: relative;
    bottom: 100px;
    display: block;
    margin-top: 200px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: center;
  }
  .hero-text.nspire-org {
    bottom: 120px;
    display: block;
  }
  .text-block-3 {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
  .image-4 {
    position: relative;
    right: -27px;
    bottom: 51px;
    z-index: 0;
    display: none;
    float: right;
    opacity: 0.3;
  }
  .column {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .row-a.row-b {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .div-block-2 {
    margin-right: 40px;
    margin-left: 40px;
  }
  .text-block-4 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .text-applications {
    margin-right: 20px;
    margin-left: 20px;
  }
  .div-block-4 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .image-5 {
    margin-left: 20px;
  }
  .text-block-6 {
    margin-right: 20px;
  }
  .navbar {
    background-color: transparent;
  }
  .container-2 {
    display: none;
    background-color: transparent;
    color: #fff;
  }
  .container-2.nbtc {
    display: block;
  }
  .brand {
    padding-top: 10px;
  }
  .menu-button.w--open {
    background-color: #2575fc;
  }
  .menu-button.nbtc.w--open {
    background-color: #4b0a92;
  }
  .nav-menu {
    background-color: #2575fc;
    color: #fff;
  }
  .nav-menu.nbtc {
    background-color: #4b0a92;
  }
  .nav-link {
    color: #fff;
  }
  .reason-icon {
    width: 200px;
    margin-bottom: 20px;
  }
  .reason-icon.guy {
    width: 92px;
  }
  .reason-icon.high-five {
    width: 187px;
  }
  .text-block-9 {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .image-4 {
    bottom: 194px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .row-a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .row-a.row-b {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-3 {
    margin-bottom: 80px;
  }
  .text-block-6 {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    float: none;
  }
  .position-area {
    text-align: left;
  }
  .position-description {
    margin-right: 10px;
    margin-left: 10px;
  }
  .text-block-9 {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 479px) {
  .logo {
    display: block;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .image-3 {
    width: 100px;
  }
  .image-3.nbtc {
    width: 140px;
  }
  .logo-pipe {
    display: none;
  }
  .logo-pipe.mobile {
    display: none;
  }
  .text-block-2 {
    font-size: 12px;
  }
  .text-block-2.mobile {
    display: none;
  }
  .heading {
    font-size: 36px;
    line-height: 42px;
  }
  .text-block-3 {
    font-size: 16px;
    line-height: 32px;
  }
  .headings-title {
    font-size: 24px;
  }
  .paragraph {
    font-size: 16px;
    line-height: 32px;
  }
  .row-a {
    margin-top: 30px;
  }
  .div-block-2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .text-block-4 {
    font-size: 18px;
    line-height: 24px;
  }
  .text-applications {
    font-size: 16px;
  }
  .text-applications.due-date {
    line-height: 32px;
  }
  .button {
    padding: 15px 30px;
    font-size: 16px;
  }
  .div-block-3 {
    margin-bottom: 40px;
  }
  .image-5 {
    width: 14px;
  }
  .link {
    margin-left: 5px;
    font-size: 12px;
  }
  .text-block-6 {
    font-size: 12px;
  }
  .reason-icon {
    width: 100px;
  }
  .reason-icon.guy {
    width: 70px;
  }
  .reason-icon.high-five {
    width: 120px;
  }
  .position-area {
    font-size: 16px;
    line-height: 32px;
  }
  .position-title {
    font-size: 16px;
    line-height: 32px;
  }
  .position-description {
    font-size: 16px;
    line-height: 32px;
  }
  .link-3 {
    font-size: 16px;
  }
  .text-block-9 {
    font-size: 16px;
    line-height: 32px;
  }
  .button-3 {
    font-size: 16px;
    line-height: 32px;
  }
}