.navbar-logo, .navbar-nav > li > a.navbar-logo {
	padding: 0;
}

.navbar-nav > li > a.navbar-social {
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.navbar-logo img {
	height: 50px;
}
