$enable-gradients: true;
@import "hamburgers/_sass/hamburgers/hamburgers";
@import "bootstrap/scss/bootstrap";

body {
  position: relative;
  scroll-snap-type: mandatory;
  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 82.5%;
  }
}

.navbar {
  background: linear-gradient(270deg, #6a11cb, #2575fc);
  
  img {
    max-height: 3rem;
  }

  button:focus {
    outline: none;
  }
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.short {
  min-height: 25vh;
}

section.end {
  min-height: 92vh;
}

.section-top{
  color: white;
  background: linear-gradient(270deg, #6a11cb, #2575fc);
}

.sponsor-logo {
  max-height: 3rem;
}

#intro-header {
  background-image: url('../../assets/img/intro-bg.jpg');
}

#intro-impact {
  background-image: url('../../assets/img/powerful-bg.jpg');
}

#intro-diverse {
  background-image: url('../../assets/img/diverse-bg.jpg');
}

.sponsor-logo {
  height: 2rem;
}

#intro-trusted {
  background-image: linear-gradient(135deg, #00eaf8, #3b8ff3 58%, #536af1 78%, #6d42ef);
}


footer {
  height: 8vh;

  a {
    color: gray;  
    text-decoration: none;
    transition: 0.15s;

    :hover {
      text-decoration: none;
      color: slateblue;
      transition: 0.15s;
    }
  }

  small {
    color: gray;
  }
}