---
layout: nbtc16
title: NBTC’16
---
<div id="nbtc-intro" class="row nbtc-intro-sixteen">
<img style="height: 75%; margin-top: 100px;" src="{{ site.baseurl }}/img/nbtc16_logo_white.svg" alt="Nspire Innovation Network" class="center-block img-responsive">
  <a style="margin-bottom: 5%;" href="https://www.universe.com/events/national-business-and-technology-conference-16-tickets-toronto-T2X9J4" target="_blank" class="btn btn-lg nbtc-intro-tickets">Buy Tickets</a>
<script type="text/javascript" src="https://www.universe.com/embed.js"></script>
</div>
<script>
  $("#nbtc-intro").height($(window).height());
</script>
<div id="nbtc-about" class="row nbtc-about" style="background: #FFFFFF;">
  {% include nbtc16/about.html %}
</div>
<div id="team" class="row team hidden-xs">
	{% include nbtc16/team.html %}
</div>
<div id="about" class="row about hidden-xs" style="background :#167AC6;">
  {% include nbtc16/scale-new-heights.html %}
</div>
<div id="nbtc-speakers" class="row nbtc-speakers">
  {% include nbtc16/past-speakers.html %}
</div>
<div id="id-community-body" class="row nbtc-community-body">
  {% include nbtc16/sponsors.html %}
</div>
<div style="margin-top: 20px; margin-bottom: 60px; margin-right: 60px; margin-left: 60px;">
  {% include nbtc16/competitions.html %}
</div>
