<div id="header">
<ul class="ecosystem">
  <li id="first-ecosystem-element">nspire network</li>
  <li id="ecosystem-divider">|</li>
    <a href="http://nbtc.nspire.org"><li class="ecosystem-element">NBTC</li></a>
    <a href="http://nteractions.nspire.com/"><li class="ecosystem-element">nteractions</li></a>
    <a href="http://hackthe6ix.com/"><li class="ecosystem-element">hack the 6ix</li></a>
    <a href="http://nspire.org/ntv/"><li class="ecosystem-element">nspireTV</li></a>
</ul>

</div>