<!-- <div id="header"> -->
<!-- <ul class="ecosystem">
  <li id="first-ecosystem-element">nspire network</li>
  <li id="ecosystem-divider">|</li>
    <a href="http://nspire.org/nbtc16/"><li class="ecosystem-element">NBTC</li></a>
    <a href="http://nteractions.nspire.com/"><li class="ecosystem-element">nteractions</li></a>
    <a href="http://hackthe6ix.com/"><li class="ecosystem-element">hack the 6ix</li></a>
    <a href="http://nspire.org/ntv/"><li class="ecosystem-element">nspireTV</li></a>
</ul> -->

<!-- I remade the ecosystem header with Materialize - mobile friendly, old header above - also inline CSS needs to be replaced-->
  <nav>
    <div class="nav-wrapper" style="background-color: #253c78;">
      <a href="http://nspire.org/nbtc16/" class="brand-logo" style="padding-left: 2.5%;">Nspire Network </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://nspire.org/nbtc16/">NBTC</a></li>
        <li><a href="http://nteractions.nspire.com/">Nteractions</a></li>
        <li><a href="http://hackthe6ix.com/">Hack the 6ix</a></li>
        <li><a href="http://nspire.org/ntv/">NspireTV</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo" style="opacity: 0.95; background-color: #253c78;">
        <li><a href="sass.html" style="color: white;">NBTC</a></li>
        <li><a href="badges.html" style="color: white;">Nteractions</a></li>
        <li><a href="collapsible.html" style="color: white;">Hack the 6ix</a></li>
        <li><a href="mobile.html" style="color: white;">NspireTV</a></li>
      </ul>
    </div>
  </nav>
<!-- </div>