<div id="header">
<ul class="ecosystem">
  <a href="http://nspire.org/"><li id="first-ecosystem-element">nspire network</li></a>
  <li id="ecosystem-divider">|</li>
    <a href="http://nspire.org/nbtc16/"><li class="ecosystem-element">NTBC</li></a>
    <a href="http://hackthe6ix.com/"><li class="ecosystem-element">hack the 6ix</li></a>
    <a href="http://hackthe6ix.com/"><li class="ecosystem-element">NHacks</li></a>
    <a href="http://nteractions.com/"><li class="ecosystem-element">nteractions</li></a>
    <a href="http://nspire.org/ntv/"><li class="ecosystem-element">nspireTV</li></a>
</ul>
</div>
<div class="nav-bar">
  <ul class="nav-bar-list">
    <a href=""><li class="nav-bar-element"><img class="Logo-Nspire-Only-Blue" src="http://nspire.org/img/nspire_logo_blue.svg"></li></a>
    <a href=""><li class="nav-bar-element">Partners Network</li></a>
    <div class="nav-bar-links">
      <a href=""><li class="PartnersLink nav-bar-element">Partners</li></a>
      <a href=""><li class="EventsLink nav-bar-element">Events</li></a>
      <a href=""><li class="ContactLink nav-bar-element">Contacts</li></a>
    </div>
  </ul>
</div>
<div class="test">

</div>
