<!-- I remade the ecosystem header with Materialize - mobile friendly, old header above - also inline CSS needs to be replaced-->
<nav>
<div class="nav-wrapper" style="background-color: #253c78;">
  <a href="/" class="brand-logo" style="padding-left: 2.5%;">Nteractions</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
      <li><a href="/category/Alumni-Stories">Alumni Stories</a></li>
      <li><a href="/category/Start-Ups">Start-Ups</a></li>
      <li><a href="/category/Technology">Technology News</a></li>
      <li><a href="/category/Nspire">Nspire</a></li>
  </ul>
  <ul class="side-nav" id="mobile-demo" style="opacity: 0.95; background-color: #253c78;">
      <li><a href="/category/Alumni-Stories">Alumni Stories</a></li>
      <li><a href="/category/Start-Ups">Start-Ups</a></li>
      <li><a href="/category/Technology">Technology News</a></li>
      <li><a href="/category/Nspire">Nspire</a></li>
  </ul>
</div>
</nav>