<nav>
  <div class="nav-wrapper" style="background-color: #3688c8;">
    <a href="/" class="brand-logo">Nteractions</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/category/Alumni-Stories">Alumni Stories</a></li>
      <li><a href="/category/Start-Ups">Start-Ups</a></li>
      <li><a href="/category/Technology">Technology News</a></li>
      <li><a href="/category/Nspire">Nspire</a></li>
    </ul>
  </div>
</nav>