<nav>
  <div class="nav-wrapper" style="background-color: #3688c8;">
    <a href="/" class="brand-logo">Nteractions</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Alumni Stories</a></li>
      <li><a href="#">Start-Ups</a></li>
      <li><a href="#">Technology News</a></li>
      <li><a href="#">Nspire</a></li>
    </ul>
  </div>
</nav>