<footer class="page-footer" style="background-color: #3688c8;">
  <div class="container">
    <div class="row">
      <div class="col l5 offset-l1 s12">
        <h5 class="white-text">Want news delivered to your mailbox?</h5>
        <p class="grey-text text-lighten-4">Enjoy a selection of news from your email.</p>
      </div>
      <div class="center col l5 s12">
        <div class="input-field inline">
        <input id="email" type="email" class="validate" placeholder="Email Address" style="text-align: center; background-color: white;">
        <label for="email" data-error="Try again?" data-success="Thanks!"></label>
        <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color: #31b46a;">Subscribe
			    	<i class="material-icons right">send</i>
			  	</button>
      </div>
      
      </div>
    </div>

    <!-- For spacing -->
    <div class="row"></div>

    <div class="row hide-on-med-and-down no-margin">
    <div class="divider"></div>
    	<div class="col s3 m3 l2 offset-l1">
    	<p class="grey-text text-lighten-1">Pages</p>
	    	<ul>
          <li><a class="grey-text text-lighten-3" href="#!">Alumni Stories</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Start-Ups</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Technology News</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Nspire</a></li>
        </ul>
	    </div>

    	<div class="col s3 m3 l2">
    	<p class="grey-text text-lighten-1">News & Info</p>
	    	<ul>
          <li><a class="grey-text text-lighten-3" href="#!">About Nspire</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About Nteractions</a></li>
        </ul>
	    </div>

    	<div class="col s3 m3 l2">
    	<p class="grey-text text-lighten-1">Other Sites</p>
	    	<ul>
          <li><a class="grey-text text-lighten-3" href="#!">Nspire Innovation Network</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">NBTC'16</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">nspireTV</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Hack the 6ix</a></li>
        </ul>
	    </div>

    	<div class="col s3 m3 l2">
    	<p class="grey-text text-lighten-1">Legal</p>
	    	<ul>
          <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Terms of Service</a></li>
        </ul>
	    </div>

	    <div class="col s3 m3 l2 valign-wrapper">
	    	<!-- Spacing breaks -->
	    	<br><br><br>
	    	<img class="valign" src="/public/assets/logo.svg">
	    </div>

    </div>
  </div>
</footer>