---
title: Nspire
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body>
	{% include navbar.html %}
	<div class="container">
		<div class="row intro">
			<img src="{{ site.baseurl }}/img/nspire_logo_blue.svg" alt="Nspire Innovation Network">
		</div>
		<div class="row what-is-nspire">
			{% include what-is-nspire.html %}
		</div>
		<div class="row newsletter">
			<h1>Sign Up for the Nspire Newsletter</h1>
		</div>
		<div class="row about hidden-xs">
			{% include about.html %}
		</div>
		<div class="row initiatives">
			{% include initiatives.html %}
		</div>
		<div class="row team hidden-xs">
			{% include team.html %}
		</div>
		<div class="row join hidden-xs">
			{% include join.html %}
		</div>
		<div class="row events">
			{% include events.html %}
		</div>
		<div class="row media">
			{% include media.html %}
		</div>
		<div class="row footer">
			<p class="text-center">All Rights Reserved. &copy; 2013 Nspire Innovation Network.</p>
		</div>
	</div>
</body>
</html>
