---
layout: default
title: Nspire
---
	<video id="welcome-video" muted poster="img/welcome_to_nspire.png" controls>
		<source src="img/nspire_info_video.mp4" type="video/webm" >
		<source src="img/nspire_info_video.mp4" type="video/mpeg">
	</video>
<script>
	$("#intro").height($(window).height());
</script>
<div id="what-is-nspire" class="row what-is-nspire">
	{% include what-is-nspire.html %}
</div>
<div id="newsletter" class="row newsletter">
	{% include newsletter.html %}
</div>
<div id="about" class="row about hidden-xs">
	{% include about.html %}
</div>
<div id="initiatives" class="row initiatives">
	{% include initiatives.html %}
</div>
<!-- <div id="events" class="row events">
	{% include events.html %}
</div> -->
<!-- <div id="team" class="row team hidden-xs">
	{% include team.html %}
</div> -->
<div id="in-the-media" class="row in-the-media hidden-xs">
	{% include in-the-media.html %}
</div>
<div id="partners" class="row partners hidden-xs">
	{% include partners.html %}
</div>

<script>
	setTimeout(function(){ document.getElementById("welcome-video").play(); }, 5200);
</script>