<html>
	{{>head}}
	{{>ecosystem}}
	<body>
	{{>nteractions-header}}
	{{{body}}}
	{{>includes}}
	{{>nteractions-footer}}
	</body>
	<!-- Code for mobile hamburger menu w/ ecosystem header -->
	<script>
	$( document ).ready(function(){
		$(".button-collapse").sideNav();
	});
	</script>
</html>