<!doctype html>
<html>
<link href="home.css" rel="stylesheet" type="text/css">

<div class = "cover">
  <div class="overlay">
    <div class="content">
  	<p id="cover-title"> FROM WETLANDS TO CANALS AND DAMS AMSTERDAMN IS ALIVE</p>
      <div class="tags">
          <p id="topic"> TECHNOLOGY </p>
          <p id="dot"> • </p>
          <p id="read-time"> 5 MIN READ </p>
      </div>
      <div class="button-green">
      	<button id="read-now"> Read Now </button>
      </div>
    </div>
  </div>
</div>

<div class="news"> 
	<p id="banner"> Breaking News: Addiction When Gambling Becomes a Problem </p>
</div>

<div class="section">
    <p id="section-title">TRENDING</p>
    <div class= "trending-content">
    </div>
</div>

<div class = "section">
  <p id="section-title"> RECENT </p>
    <div class="recent-content">
  	</div>
    <div class="button-green">
      <button id="view-more"> VIEW MORE </button>
    </div>
</div>
</html>
