<div class = "cover">
	<h1 id="cover-title"> Nspire Partners Network </h1>
    <h2 id="cover-opener"> Discover why Canada's top companies have worked with Nspire </h2>
    <div class="button" id="partner-button">
    	<h5> Become a Partner </h5>
    </div>
</div>

<div class = "about-us">
  <h2 class="about-us-title"> ABOUT US </h2>
  <div class= "about-us-content">
  <!-- Temporarily stop autoplay video -->
	<iframe src="http://nspire.org/img/nspire_info_video.mp4" width = "684" height = "384" class="video"> </iframe> 
	  <div class="aboutus-description">
      <h3> No commitment required. Be involved according to your own demand. </h3> 
      <p> Nspire will send your organization one short email per month to notify you of our upcoming initiatives. Whether or not you choose to be involved is completely up to you. You can unsuscribe at any time </p> 
    </div>  
  </div>
</div>

<div class = "partners">
  <h2 class="partners-title"> PARTNERS </h2>
    <table id = "partners-shown">
      <tr> 
          <td>
            <img src="public/assets/ibm-logo.png" alt="logo" height="80px">
          </td>
          <td>
            <img src="public/assets/rbc-logo.png" alt="logo" height="80px">
          </td>
          <td>
            <img src="public/assets/pwc-logo.png" alt="logo" height="80px">
          </td>
          <td>
            <img src="public/assets/shopify-logo.png" alt="logo" height="80px">
          </td>
	  </tr>
      <tr> 
          <td>
            <img src="public/assets/rogers-logo.png" alt="logo" height="80px">
          </td>
          <td>
            <img src="public/assets/accenture-logo.png" alt="logo" height="80px">
          </td>
          <td>
            <!-- This one is the only JPEG -->
            <img src="public/assets/ivey-logo.jpg" alt="logo" height="80px">
          </td>
          <td>
            <img src="public/assets/telus-logo.png" alt="logo" height="80px">
          </td>
      </tr>
      <tr> 
          <td>
            <img src="public/assets/brainstation-logo.png" alt="logo" height="80px">
          </td>
          <td>
            <img src="public/assets/wealthsimple-logo.png" alt="logo" height="80px">
          </td>
          <td>
            <img src="public/assets/mbna-logo.png" alt="logo" height="80px">
          </td>
          <td>
            <img src="public/assets/5infinity-logo.png" alt="logo" height="80px">
          </td>
      </tr>
	</table>
<div class="collapsible">
  <h3> Expand </h3>
  <img src="arrow.jpg" alt="arrow">
  <table id="partners-expand">
  	<tr> 
    	<td>
        	<img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png" alt="logo" height="80px">
        </td>
    	<td>
        	<img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png" alt="logo" height="80px">
        </td>
    	<td>
        	<img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png" alt="logo" height="80px">
        </td>
    	<td>
        	<img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png" alt="logo" height="80px">
        </td>
	</tr>    
  </table>
</div>
</div>
    
<div class = "benefits">
  <h2 class="benefits-title"> BENEFITS </h2>
  <div class="benefits-content">
  <div class="benefits-section">
  	<h3> Reputable Organization </h3>
    <p> Work with a national organization that has consistently delivered incredible value for our partners for 10 years. </p>
  </div>
  <div class="benefits-section">
  	<h3> Ideal Candidates </h3>
    <p> Connect with Canada's top student talent through hackathons, career fairs, conferences, and networking opportunities. </p>
  </div>
  <div class="benefits-section">
  	<h3> Powerful Digital Brand </h3>
    <p> With close to 10000 social media followers. Reach your target audience through social media and Nspire's publication platforms.</p>
  </div>
  </div>
</div>
<div class = "bottom-panel">
	<div class = "sign-up">
    	<h4> Become a partner today </h4>
        <h6> "Insert Testimonial" - Name, Company </h6>
        <div class="button" id="partner-button">
       	  <h5> Become a Partner </h5>
        </div>
</div>
<div class = "vertical-line">
</div>
    <div class = "learn-more">
	  <h4> Nspire Innovation Network </h4>
   	  <h6> blah blah blah </h6>
      <div class = "button" id = "nspire-info-button">
      	<h5> Learn More </h5>
      </div>
    </div>
</div>
