// components

// components are visible parts of the site, such as panels, icons, buttons, etc

.ecosystem-element {
  float: left;
  display: inline-block;
  padding: 0 16px;
  line-height: 48px;
  color: rgba(240,241,243,0.5);
  font-weight: lighter;
}

#first-ecosystem-element {
  float: left;
  display: inline-block;
  padding-right: 16px;
  line-height: 48px;
  color: rgba(240,241,243,0.5);
  font-weight: lighter;
}

#ecosystem-divider {
  float: left;
  display: inline-block;
  padding: 0 16px;
  line-height: 48px;
  color: rgba(240,241,243,0.5);
  font-weight: lighter;
}

.ecosystem-element:hover, #first-ecosystem-element:hover {
  font-weight: normal;
  color: white;
}

.ecosystem-element:active, #first-ecosystem-element:active {
  font-weight: bold;
  color: white;
}


#header {
  display: block;
  width: 100%;
  height: 48px;
  background-color: #4A4A4A;
  overflow: scroll;
}

.ecosystem {
  margin: 0 auto;
  width: 760px;
  height: 48px;
  overflow: hidden;
}

// navbar

.nav-bar {
  margin-top: -16px; // weird white space on top
  width: 100%;
  background-color: #3688C8;
  height: 56px;
  clear: both;
}

.nav-bar-element {
  display: inline-block;
  float: left;
  color: white;
  padding: 0 16px;
  line-height: 56px;
}

.nav-bar-links {
  display: inline-block;
  float: right;
}
