// components

// components are visible parts of the site, such as panels, icons, buttons, etc

/* global header */

#header {
  display: block;
  width: 100%;
  height: 48px;
  background-color: $dark-grey;
}

.ecosystem {
  .ecosystem-element {
    float: left;
    display: inline-block;
    padding: 0 16px;
    line-height: 48px;
    color: rgba(240,241,243,0.5);
    font-weight: lighter;
  }
  #first-ecosystem-element {
    float: left;
    display: inline-block;
    padding-right: 16px;
    line-height: 48px;
    color: rgba(240,241,243,0.5);
    font-weight: lighter;
  }
  #ecosystem-divider {
    float: left;
    display: inline-block;
    padding: 0 16px;
    line-height: 48px;
    color: rgba(240,241,243,0.5);
    font-weight: lighter;
    cursor:default;
  }
  .ecosystem-element:hover, #first-ecosystem-element:hover {
    font-weight: normal;
    color: $white;
  }
  .ecosystem-element:active, #first-ecosystem-element:active {
    font-weight: bold;
    color: $white;
  }
  margin: 0 auto;
  width: 760px;
  height: 48px;
  overflow: hidden;
}

/* navbar */

.nav-bar {
  width: 100%;
  background-color: $white;
  height: 56px;
  clear: both;
  .Logo-Nspire-Only-blue {
    width: 98px;
    height: 40px;
  }
  .nav-bar-element {
    display: inline-block;
    float: left;
    padding: 7px 16px;
    font-family: 'Avenir', Tahoma, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3688c8;
    letter-spacing: 1.1px;
  }
  .nav-bar-links {
    display: inline-block;
    float: right;
  }
  ul {
    margin:0;
  }
}


#partners-network {
	padding-top: 3.5px;
	border-left: solid 1px $light-grey;
}


/* cover temp */

.cover {
  #cover-title {
    margin-top:0;
    color: $white;
    padding: 151px 258px 13px;
  }

  #cover-opener {
    color: $off-white;
    padding-bottom: 88px;
  }
	height: 516px;
	text-align: center;	
  letter-spacing:2.5px;
  background-image: linear-gradient(to bottom, $blue, rgba(53, 137, 206, 0.12));
}

/*about us section */

.about-us {
  .about-us-content {
    display: flex;
    align-content: space-between;
    flex-wrap:wrap;
    width: 100%;
    padding:24px 0;
  }
  video {
    width:520px;
    height:293px;
    flex-grow:1;
    flex-basis:520px;
  }
  .about-us-description {
    h3 {
      color: $dark-grey;
    }
    padding: 0 35px;
    text-align: justify;  
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    text-align: justify;
    color: $light-grey;
    flex-basis:400px;
    flex-grow:1;
  }
	background-color: $lightest-blue;
}

/* partners section */
.partners {
  row.spaced-out > div {
    padding:32px;
  }
	text-align: center;
	background-color: $white;
}

/* benefits section */

.benefits {
	background-color: $lightest-blue;
}

.benefits-content {
	display: flex;
	padding: 0 75px;
}

.benefits-section {
  position: relative;
  min-height: 1px;
  flex: 1;
  text-align:center !important;
}

.benefits p {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

#benefits-image {
	display:block;
	margin-right: auto;
	margin-left: auto;
}
/* bottom panel section */

.bottom-panel {
	background-color: $blue;
    display: flex;
    justify-content: space-around;
}

.sign-up {
	padding: 59px 30px 52px 30px;
	text-align:center;
}

.learn-more {
	padding: 59px 30px 52px 30px;
	text-align: center;
}

.vertical-line {
	border-right: thin solid $off-white;
	margin-bottom: 32px;
	margin-top: 32px;
}

.button {
  &:hover {
    cursor:pointer;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }
  &.orange {
    background-color: $orange;
  }
  &.outline {
    border: solid 2px $off-white; 
  }
	display: inline-block;
	vertical-align:middle;
	text-align: center;
	white-space:nowrap;	
  padding:0px 8px;
  color:$white;
}

/* footer */
