// components

// components are visible parts of the site, such as panels, icons, buttons, etc

.ecosystem-element {
  float: left;
  display: inline-block;
  padding: 0 16px;
  line-height: 48px;
  color: rgba(240,241,243,0.5);
  font-weight: lighter;
}

#first-ecosystem-element {
  float: left;
  display: inline-block;
  padding-right: 16px;
  line-height: 48px;
  color: rgba(240,241,243,0.5);
  font-weight: lighter;
}

#ecosystem-divider {
  float: left;
  display: inline-block;
  padding: 0 16px;
  line-height: 48px;
  color: rgba(240,241,243,0.5);
  font-weight: lighter;
}

.ecosystem-element:hover, #first-ecosystem-element:hover {
  font-weight: normal;
  color: $white;
}

.ecosystem-element:active, #first-ecosystem-element:active {
  font-weight: bold;
  color: $white;
}

#header {
  display: block;
  width: 100%;
  height: 48px;
  background-color: #4A4A4A;
  overflow: scroll;
}

.ecosystem {
  margin: 0 auto;
  width: 760px;
  height: 48px;
  overflow: hidden;
}

/* navbar */

.nav-bar {
  margin-top: 20px;
  margin-bottom: -20px; /* weird white space on top */
  width: 100%;
  background-color: $white;
  height: 56px;
  clear: both;
}

.nav-bar-element {
  display: inline-block;
  float: left;
  padding: 7px 16px;
  margin-bottom: 60px;
}

#partners-network {
	padding-top: 3.5px;
	border-left: solid 1px $light-grey;
}

.nav-bar-links {
  display: inline-block;
  float: right;
}

/* cover temp */

.cover {
	height: 516px;
	background-color: $blue; 
	text-align: center;	
}

#cover-title {
	padding: 151px 258px 13px;
}

#cover-opener {
	color: $off-white;
	padding-bottom: 88px;
}



/*about us section */

.about-us {
	background-color: $off-white;
	height: 100%;
	padding: 54px 44px 66px 64px;
}

.about-us-content {
	display: inline-flex;
	align-content: space-between;
	width: 100%;
}

.aboutus-description {
	padding-left: 35px;
	text-align: justify;	
}

/* partners section */

.partners {
	background-color: $white;
	padding: 54px 77px 66px 56px;
}

table {
	width: 100%;
}

#partners-expand {
	display:none;	
}

td {
	  position: relative;
	  min-height: 1px;
	  padding: 50px 30px 50px 30px;
}

td img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.collapsible {
	text-align: center;
}

/* benefits section */

.benefits {
	background-color: $off-white;
	padding: 66px 44px 58px 44px;
}

.benefits-content {
	display: flex;
	padding: 0 75px;
}

.benefits-section {
  position: relative;
  min-height: 1px;
  flex: 1;
  text-align:center !important;
}

.benefits p {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

#benefits-image {
	display:block;
	margin-right: auto;
	margin-left: auto;
}
/* bottom panel section */

.bottom-panel {
	background-color: $blue;
    display: flex;
    justify-content: space-around;
}

.sign-up {
	padding: 59px 30px 52px 30px;
	text-align:center;
}

.learn-more {
	padding: 59px 30px 52px 30px;
	text-align: center;
}

.vertical-line {
	border-right: thin solid $off-white;
	margin-bottom: 32px;
	margin-top: 32px;
}

.button {
	display: inline-block;
	vertical-align:middle;
	text-align: center;
	white-space:nowrap;	
}

#partner-button {
	width: 184px;
	height:40px;
	background-color: $orange;
}

#partner-button:hover {
	background-color: $t-orange;
}


#nspire-info-button {
	width: 184px;
	height:40px;
	border: solid 1px $off-white;	
}

/* footer */
