<h1 class="text-center">About Us</h1>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/vision.svg" alt="Vision" class="pillar-logo">
		<h2>Our Vision</h2>
		<p>To foster Canada's next generation of innovative CEOs, founders and leaders in the business and technology space.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/mission.svg" alt="Mission" class="pillar-logo">
		<h2>Our Mission</h2>
		<p>Nspire's flame is always seeking new ways to ignite and deliver value to its members. It is aggressively evolving by launching new initiatives and programs to further aid the young Canadian innovation community.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/story.svg" alt="Story" class="pillar-logo">
		<h2>Our Story</h2>
		<p>Nspire is a non-profit organization dedicated to building leaders in the business and technology space.</p>
		<button type="button" data-toggle="modal" data-target="#storyModal" class="btn">more&hellip;</button>
	</div>
	<div class="modal fade" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="storyModalLabel">Our Story</h4>
				</div>
				<div class="modal-body">
					<p>Nspire is a non-profit organization dedicated to building leaders in the business and technology space. It provides opportunities for young professionals to expand their network and skills sets to accelerate their career path through various programs offered throughout the year.</p>
					<p>Members have opportunities to network with peers and colleagues as well as meeting with influential leaders within specific industries. It also serves as a catalyst by challenging its members to bring forth their innovative business ideas for them to come to life.</p>
					<p>Nspire originated from the visionary eagerness of University students who wanted to bridge the gap between business and technology. Today, Nspire's flame is fueled by brilliant and passionate student leaders, which have made Nspire a key component in building that bridge. Nspire breathes solely to connect, empower and inspire its members into a future of personal success. Its vision is to foster Canada's next generation of innovative CEO's, founders and leaders in the business and technology space.</p>
					<p>Ever since its humble beginnings with the National Business and Technology Conference (NBTC) in 2001, this organization has brought together it's members with some of the most innovative business leaders, such as Sean O'Dea, Founder of Second Cup, Sean Wise, industry advisor to CBC's hit show Dragon's Den, and Anthony Lacavera, Chairman and CEO of Globalive Communications Corp. From then on, the organization has introduced various new initiatives such as the Entrepreneurship Competition in 2007, which lead students to start companies such as Dreamcube Technologies and Shape Collage Inc. In 2009, after many successful years with NBTC, and so many new initiatives coming from its members, Nspire was created as the organization that would unify all these endeavours under one brand.</p>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
<div class="clearfix"></div>
