<h1 class="text-center">About Us</h1>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/vision.png" alt="Vision" class="pillar-logo">
		<h2>Our Vision</h2>
		<p>To foster Canada's next generation of innovative CEOs, Founders, and Leaders in the business and technology space.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/mission.png" alt="Mission" class="pillar-logo">
		<h2>Our Mission</h2>
		<p>To empower youth with the skills and knowledge that will enable them to distinguish themselves as innovative leaders.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/story.png" alt="Story" class="pillar-logo">
		<h2>Our Story</h2>
		<p>To inspire youth with the confidence to take on challenges and opportunities they would never have thought possible.</p>
	</div>
</div>
<div class="clearfix"></div>
