<h1 class="text-center">About Us</h1>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/vision.svg" alt="Vision" class="pillar-logo">
		<h2>Our Vision</h2>
		<p>To foster Canada's next generation of innovative CEOs, Founders, and Leaders in the business and technology space.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/mission.svg" alt="Mission" class="pillar-logo">
		<h2>Our Mission</h2>
		<p>To foster Canada's next generation of innovative CEOs, Founders, and Leaders in the business and technology space.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/story.svg" alt="Story" class="pillar-logo">
		<h2>Our Story</h2>
		<p>Nspire is deeply rooted in the National Business and Technology Conference (NBTC).</p>
		<button type="button" data-toggle="modal" data-target="#storyModal" class="btn">more&hellip;</button>
	</div>
	<div class="modal fade" id="storyModal" tabindex="-1" role="dialog" aria-labelledby="storyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="storyModalLabel">Our Story</h4>
				</div>
				<div class="modal-body">
					<p>Nspire is deeply rooted in the National Business and Technology Conference (NBTC). The NBTC was started in 2001 by a diverse group of University of Toronto students with the aim of bridging the gap between business and technology. Since its humble beginnings, NBTC has brought together some of the most innovative business leaders with our members, such as Sean O'Dea, Founder of Second Cup, Sean Wise, industry advisor to CBC's hit show Dragon's Den, and Anthony Lacavera, Chairman and CEO of Globalive Communications Corp.</p>
					<p>In 2007, NBTC introduced its flagship Entrepreneurship Competition, challenging its delegates to commercialize their innovative ideas. Leveraging the knowledge gained and connections made at NBTC, past years' competitors have gone on to start companies such as Dreamcube Technologies and Shape Collage Inc.</p>
					<p>Building on 10 years of success, the NBTC executive team created Nspire in 2009 to further engage our members through an expansion of programs offered throughout the year. In 2009, Nspire experienced a surge of growth through new initiatives such as our highly successful Nspire 101 Series and Special Events. As Nspire welcomes the new decade, it will continuously seek new ways to deliver value for our members.</p>
					<p>As Nspire welcomes the new decade, it will undergo aggressive growth by launching new initiatives and programs to further the budding Canadian innovation community.</p>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>
<div class="clearfix"></div>
