<div class="col-md-1"></div>
{% for event in site.data.events %}
{% if event.upcoming %}
<div class="col-md-10 upcoming">
	{% if event.facebook %}
	<a href="{{ event.facebook }}" target="_blank">
	{% endif %}
		<img src="{{ event.poster }}" alt="{{ event.name }}" class="img-responsive center-block">
	{% if event.facebook %}
	</a>
	{% endif %}
</div>
{% endif %}
{% endfor %}
<div class="clearfix"></div>


<div class="col-sm-4 col-sm-offset-4 text-center tickets">
	<a href="http://www.eventbrite.ca/e/to-tech-discover-digital-tickets-9384247537" target="_blank" class="btn btn-lg">Get Tickets Here</a>
</div>
<div class="clearfix"></div>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-6 pillar">
		<p class="lead"><strong>Discovery Series Toronto</strong> is collaborating with <strong>BNOTIONS</strong> for our upcoming launch event.</p>
		<p><strong>BNOTIONS</strong> is one of Canada's leading mobile, data and analytics partner of choice for firms such as American Express, eBay and RBC. Their products have featured in Top 10 Made in Canada (App Store) and they have also won a host of accolades such as Facebook's Innovation Competition 2014 with Gallop Labs. Not only do they want to showcase their brilliant work, they also want to meet and find <strong>Skule talent</strong>. <a href="http://www.eventbrite.ca/e/to-tech-discover-digital-tickets-9384247537">Learn more &raquo;</a></p>
	</div>
	<div class="col-sm-6 pillar">
		<p class="lead"><strong>EVENT SCHEDULE:</strong></p>
		<table>
			<tbody>
				<tr>
					<td>5.15 - 5.30 PM</td>
					<td>EVENT REGISTRATION</td>
				</tr>
				<tr>
					<td>5.30 - 5.40 PM</td>
					<td>DS LAUNCH</td>
				</tr>
				<tr>
					<td>5.40 - 6.25 PM</td>
					<td>KEYNOTE</td>
				</tr>
				<tr>
					<td>6.30 - 8.30 PM</td>
					<td>
						PERSONAL BRANDING 101<br>
						BNOTIONS TECHNICAL CHALLENGE<br>
						INTERACTIVE DEMOS
					</td>
				</tr>
				<tr>
					<td>8.30 PM</td>
					<td>OPEN NETWORKING</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>

$(window).on('scroll', function(){
	
	var $timeline_block = $('.cd-timeline-block');

	$timeline_block.each(function(){
		if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
			$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
		}
	});
});
</script>

<section class="ds-timeline" id="cd-timeline" style="display:inline-block">
	{% for event in site.data.ds-events %}

		<div class="cd-timeline-block">
			<div id="{{event.region}}" class="is-hidden cd-timeline-img cd-timeline-icon" >
				{{ event.region }}
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content is-hidden">
					<!--<script type="text/javascript" language="javascript">
					$(function() {
					$(this).dotdotdot();});
					</script>!-->

				{% if event.linkToTickets %}
					<a class="buyTickets" href= "{{event.linkToTickets}}" >Buy Tickets</a>
				{% endif %}
				
				<p class="lead"><strong>{{ event.name }}</strong></p>
				<p>{{ event.summary }}</p>
				<div class="moreInfo">
					<p class="lead"><strong>EVENT DESCRIPTION</strong></p>
					<p>{{ event.description }}
					</p>
					{% if event.schedule %}
						<div class="pillar">
							<p class="lead"><strong>EVENT SCHEDULE:</strong></p>
							<table>
								<tbody>
									{% for section in event.schedule %}
										<tr>
											<td> {{ section.time }} </td>
											<td> {{ section.name }} </td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% endif %}
				</div><!--moreInfo !-->
				<span class="cd-date"> {{ event.date }} </span>
				<div class="cd-read-more">See more</div>
			</div> <!-- cd-timeline-content -->

		</div> <!-- cd-timeline-block -->
	{% endfor %}
 
</section>
<div class="clearfix"></div>


<!-- color coding bubbles -->
<script>
	/*Apply background colors to bubbles*/
	var colorCodes = {
		"GTA": "#002F65",
		"KW": "#000000",
		"UWO": "#46227C"
	};
	$(".cd-timeline-icon").each(function (idx, elem) {
		$(elem).css("background", colorCodes[elem.id]);
	});
	$(".cd-read-more").click(function () {
		var moreInfo = $(this).parent().find(".moreInfo");
		if (moreInfo.css("display") === "none") {
			moreInfo.show(300);
			$(this).text("See less")
		} else {
			moreInfo.hide(300);
			$(this).text("See more");
		}
	});
</script>
