<div class="col-md-1"></div>
{% for event in site.data.events %}
{% if event.upcoming %}
<div class="col-md-10 upcoming">
	{% if event.facebook %}
	<a href="{{ event.facebook }}" target="_blank">
	{% endif %}
		<img src="{{ event.poster }}" alt="{{ event.name }}" class="img-responsive center-block">
	{% if event.facebook %}
	</a>
	{% endif %}
</div>
{% endif %}
{% endfor %}
<div class="clearfix"></div>

<!-- <div class="col-sm-4 col-sm-offset-4 text-center tickets"> -->
<!-- 	<a href="http://uv.rs/KcyTOq" target="_blank" class="btn btn-lg">Get Tickets Here</a> -->
<!-- </div> -->
<!-- <div class="clearfix"></div> -->
<!-- <div class="col-sm-9 pillar-info"> -->
<!-- 	<div class="col-sm-4 text-center pillar"> -->
<!-- 		<h2>What is it?</h2> -->
<!-- 		<p>Think you’ve found a great market opportunity? Want to find the perfect team to build it into a business? Discovery series Toronto and the University of Toronto Entrepreneurship Hatchery present the Accelerator Weekend! Entrepreneurial U of T students, in teams of four, will work to build the best startup, competing for the <strong>first place $500 cash prize</strong>.</p> -->
<!-- 	</div> -->
<!-- 	<div class="col-sm-4 text-center pillar"> -->
<!-- 		<h2>Teams and Prizes</h2> -->
<!-- 		<p>Got a team? Awesome. Still looking for some more people? No problem, we’ll hook you up. Teams of four will present to the Judge’s panel on the final day for big prizes:<br><strong>1st place team: $500 cash<br>2nd place team: $300 cash<br>3rd place team: $200 cash</strong><br>Consolation prizes for lower placing teams as well!</p> -->
<!-- 	</div> -->
<!-- 	<div class="col-sm-4 text-center pillar"> -->
<!-- 		<h2>Event Details</h2> -->
<!-- 		<p><strong>Who:</strong> University of Toronto students<br><strong>When:</strong> Friday January 17th 7pm to Saturday January 18th 7pm<br><strong>Where:</strong> U of T Fields Institute, 222 College St., U of T St. George Campus<br><strong>Registration:</strong> $10 per person, tickets sold online only.</p> -->
<!-- 	</div> -->
<!-- </div> -->
<!-- <div class="clearfix"></div> -->

<!-- <div class="col-sm-4 col-sm-offset-4 text-center tickets">
	<a href="https://www.facebook.com/events/1378437825762050/" target="_blank" class="btn btn-lg">Get Tickets Here</a>
</div>
<div class="clearfix"></div>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar">
		<p class="lead">Are you an aspiring marketer in the start-up industry? If you are, then you're going to need to know how to <u>growth hack</u>.</p>
		<p>Nspire's Discovery Series Waterloo & Laurier and PRISMRESOURCES would like to invite you to "#Growthathon", an event where you can learn how you can apply this high-impact marketing technique from experienced growth hackers, and gain a competitive advantage in the start-up industry!</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<p class="lead">
			Date: Friday, February 28th, 2014
			Time: 5:00 to 9:30 PM
		</p>
		<p>
			This event is perfect for you if:
			<ul style="text-align: left;">
				<li>You’re working on a start-up and you’re trying to raise awareness about your product, or</li>
				<li>You’re a marketer who is a creative thinker with an analytical mind, or</li>
				<li>You love start-ups and you want to get the skills to work for one!</li>
			</ul>
		</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<p class="lead">What is Growth Hacking?</p>
		<p>“Growth Hacking” is a hot term among start-ups since growth is key to success. A growth hacker uses their product knowledge to create high-impact marketing strategies, and ultimately, grow a business. In other words, they are “hacking growth”.</p>
		<p class="lead">"But I'm not a hacker..."</p>
		<p>Many of you are probably growth hacking without realizing it. Do you use social media? Have your own blog? Know how to make videos? These are only a few examples of growth hacking techniques that have been used by many familiar start-ups like Facebook, YouTube, and Dropbox to acquire users or drive engagement.</p>
	</div>
</div>
<div class="clearfix"></div> -->

<div class="col-sm-4 col-sm-offset-4 text-center tickets">
	<a href="http://www.eventbrite.ca/e/to-tech-discover-digital-tickets-9384247537" target="_blank" class="btn btn-lg">Get Tickets Here</a>
</div>
<div class="clearfix"></div>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-6 pillar">
		<p class="lead"><strong>Discovery Series Toronto</strong> is collaborating with <strong>BNOTIONS</strong> for our upcoming launch event.</p>
		<p><strong>BNOTIONS</strong> is one of Canada's leading mobile, data and analytics partner of choice for firms such as American Express, eBay and RBC. Their products have featured in Top 10 Made in Canada (App Store) and they have also won a host of accolades such as Facebook's Innovation Competition 2014 with Gallop Labs. Not only do they want to showcase their brilliant work, they also want to meet and find <strong>Skule talent</strong>. <a href="http://www.eventbrite.ca/e/to-tech-discover-digital-tickets-9384247537">Learn more &raquo;</a></p>
	</div>
	<div class="col-sm-6 pillar">
		<p class="lead"><strong>EVENT SCHEDULE:</strong></p>
		<table>
			<tbody>
				<tr>
					<td>5.15 - 5.30 PM</td>
					<td>EVENT REGISTRATION</td>
				</tr>
				<tr>
					<td>5.30 - 5.40 PM</td>
					<td>DS LAUNCH</td>
				</tr>
				<tr>
					<td>5.40 - 6.25 PM</td>
					<td>KEYNOTE</td>
				</tr>
				<tr>
					<td>6.30 - 8.30 PM</td>
					<td>
						PERSONAL BRANDING 101<br>
						BNOTIONS TECHNICAL CHALLENGE<br>
						INTERACTIVE DEMOS
					</td>
				</tr>
				<tr>
					<td>8.30 PM</td>
					<td>OPEN NETWORKING</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>

$(window).on('scroll', function(){
	
	var $timeline_block = $('.cd-timeline-block');

	$timeline_block.each(function(){
		if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
			$(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
		}
	});
});
</script>

<section class="ds-timeline" id="cd-timeline" style="display:inline-block">
	{% for event in site.data.ds-events %}
		<div class="cd-timeline-block">
			<div class="cd-timeline-img">
				{{ event.location }}
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2>{{ event.name }}</h2>
				<p>{{ event.description }}</p>
				<a href="#0" class="cd-read-more">Read more</a>
				<span class="cd-date"> {{ event.date }} </span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	{% endfor %}
 
</section>
<div class="clearfix"></div>
