<div class="col-md-1"></div>
{% for event in site.data.events %}
{% if event.upcoming %}
<div class="col-md-10 upcoming">
	{% if event.facebook %}
	<a href="{{ event.facebook }}" target="_blank">
	{% endif %}
		<img src="{{ event.poster }}" alt="{{ event.name }}" class="img-responsive center-block">
	{% if event.facebook %}
	</a>
	{% endif %}
</div>
{% endif %}
{% endfor %}
<div class="clearfix"></div>
<div class="col-sm-4 col-sm-offset-4 text-center tickets">
	<a href="http://uv.rs/KcyTOq" target="_blank" class="btn btn-lg">Get Tickets Here</a>
</div>
<div class="clearfix"></div>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar">
		<h2>What is it?</h2>
		<p>Think you’ve found a great market opportunity? Want to find the perfect team to build it into a business? Discovery series Toronto and the University of Toronto Entrepreneurship Hatchery present the Accelerator Weekend! Entrepreneurial U of T students, in teams of four, will work to build the best startup, competing for the <strong>first place $500 cash prize</strong>.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<h2>Teams and Prizes</h2>
		<p>Got a team? Awesome. Still looking for some more people? No problem, we’ll hook you up. Teams of four will present to the Judge’s panel on the final day for big prizes:<br><strong>1st place team: $500 cash<br>2nd place team: $300 cash<br>3rd place team: $200 cash</strong><br>Consolation prizes for lower placing teams as well!</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<h2>Event Details</h2>
		<p><strong>Who:</strong> University of Toronto students<br><strong>When:</strong> Friday January 17th 7pm to Saturday January 18th 7pm<br><strong>Where:</strong> U of T Fields Institute, 222 College St., U of T St. George Campus<br><strong>Registration:</strong> $10 per person, tickets sold online only.</p>
	</div>
</div>
<div class="clearfix"></div>
