<img src="{{ site.baseurl }}/img/ds_logo_white.svg" alt="Discovery Series" class="discovery-series-logo">
<p class="lead text-center">
	This page is still being Nspired.
	<br>
	While we work our magic, please check out our recent events.
</p>
<div class="col-md-1"></div>
{% for event in site.data.events %}
{% if event.upcoming %}
<div class="col-md-10 upcoming">
	<img src="{{ event.poster }}" alt="{{ event.name }}" class="img-responsive center-block">
</div>
{% endif %}
{% endfor %}
<div class="clearfix"></div>
