<h1 class="text-center">Upcoming Events</h1>
<p class="lead text-center">
	Keep yourself updated with our events.  It's not something you can afford to miss.
</p>
<div class="col-md-5 col-md-offset-1 upcoming">
	<img src="http://i.imgur.com/aCGFyTxl.jpg" alt="How to Differentiate as Top Talent" class="img-responsive center-block">
</div>
<div class="col-md-5 upcoming">
	<img src="http://i.imgur.com/aCGFyTxl.jpg" alt="How to Differentiate as Top Talent" class="img-responsive center-block">
</div>
<div class="clearfix"></div>
