<div class="hidden-xs">
	<div class="col-sm-2">
		<h2>Nspire</h2>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/#what-is-nspire">What is Nspire</a></li>
			<li><a href="/#about">About Us</a></li>
			<li><a href="/#initiatives">Our Initiatives</a></li>
			<li><a href="/#team">Our Team</a></li>
			<li><a href="/#events">Events</a></li>
			<li><a href="/#in-the-media">Nspire in the Media</a></li>
		</ul>
	</div>
	<div class="col-sm-2">
		<h2>Initiatives</h2>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/">Nspire</a></li>
			<li><a href="/nbtc">NBTC’14</a></li>
			<li><a href="/ds">Discovery Series</a></li>
			<li><a href="/ntv">NspireTV</a></li>
		</ul>
	</div>
	<div class="col-sm-2">
		<h2>Resources</h2>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="https://www.facebook.com/NspireNetwork" target="_blank">Facebook</a></li>
			<li><a href="https://twitter.com/NspireNetwork" target="_blank">Twitter</a></li>
			<li><a href="mailto:info@nspire.org">Contact</a></li>
		</ul>
	</div>
</div>
<div class="col-sm-6 footer-brand">
	<img src="{{ site.baseurl }}/img/nspire_logo_blue.svg" alt="Nspire Innovation Network" class="pull-right footer-logo">
	<div class="clearfix"></div>
	<p class="text-right">&copy; 2013 Nspire Innovation Network. All Rights Reserved.</p>
</div>
<div class="clearfix"></div>
