<h2 class="text-center">
	&copy; 2013 Nspire Innovation Network. All Rights Reserved.
</h2>
<div class="social">
	<div class="col-xs-2 col-sm-4"></div>
	<a href="https://www.facebook.com/NspireNetwork" target="_blank">
		<div class="col-xs-2 col-sm-1">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				<i class="fa fa-facebook fa-stack-1x"></i>
			</span>
		</div>
	</a>
	<a href="https://twitter.com/NspireNetwork" target="_blank">
		<div class="col-xs-2 col-sm-1">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				<i class="fa fa-twitter fa-stack-1x"></i>
			</span>
		</div>
	</a>
	<a href="#" target="_blank">
		<div class="col-xs-2 col-sm-1">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				<i class="fa fa-map-marker fa-stack-1x"></i>
			</span>
		</div>
	</a>
	<a href="mailto:info@nspire.org" target="_blank">
		<div class="col-xs-2 col-sm-1">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				<i class="fa fa-envelope fa-stack-1x"></i>
			</span>
		</div>
	</a>
</div>
<div class="clearfix"></div>
