<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="Nspire">
{% if page.url == '/index.html' %}
<title>{{ site.name }}</title>
{% else %}
<title>{{ page.title }} &#8226; {{ site.name }}</title>
{% endif %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/blueimp-gallery/2.12.1/css/blueimp-gallery-indicator.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/blueimp-gallery/2.12.1/css/blueimp-gallery-video.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/blueimp-gallery/2.12.1/css/blueimp-gallery.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/blueimp-gallery/2.12.1/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen:300,400,700">
<link rel="stylesheet" href="{{ site.baseurl }}/css/caecilialtstd-light.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/isotope.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/timeline.css">
<link rel="icon" href="{{ site.baseurl }}/img/nspire_logo_square.png">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/img/nspire_logo_square.png">
<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.scrollto/1.4.6/jquery.scrollTo.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.localscroll/1.2.8b/jquery.localScroll.min.js"></script>
{% include google-analytics.html %}
<script type="text/javascript" src="https://www.uniiverse.com/embed.js"></script>
