<h1 class="text-center">Our Initiatives</h1>
<p class="lead text-center">
	Nspire strives to create and present unique initiatives that ignite the spark and fuel the fire.
</p>
<div class="col-sm-4 text-center initiative">
	<img src="{{ site.baseurl }}/img/ntv.png" alt="NspireTV" class="initiative-logo">
	<p class="hidden-xs">NspireTV (NTV) brings you insights on today's market in business and technology. Latest trends and insightful topics will be discussed by industry professionals for global amplification of innovation.</p>
</div>
<div class="col-sm-4 text-center initiative">
	<img src="{{ site.baseurl }}/img/nbtc.png" alt="NBTC '14'" class="initiative-logo">
	<p class="hidden-xs">The National Business and Technology Conference (NBTC) is Nspire's annual flagship event that is also Canada's largest business and technology conference. A two day conference, gathering over 400 delegates across North America. Key highlights include an entrepreneurship/consulting competition, keynote speakers, workshops, career fairs, and an exclusive intimate evening reception.</p>
</div>
<div class="col-sm-4 text-center initiative">
	<img src="{{ site.baseurl }}/img/ds.png" alt="Discovery Series" class="initiative-logo">
	<p class="hidden-xs">Discovery Series (DS) is a monthly networking event where successful professionals share their stories and experiences with young leaders. Our audience include the University of Toronto, Western University, University of Waterloo, and Wilfrid Laurier University.</p>
</div>
