<h1 class="text-center">Our Initiatives</h1>
<p class="lead text-center">
	Nspire’s flame is always seeking new ways to ignite and deliver value to its members. It is aggressively evolving by launching new initiatives and programs to further aid the young Canadian innovation community.
</p>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/bg_ntv.png" alt="NspireTV" class="pillar-logo">
		<p class="hidden-xs">NspireTV (NTV) brings you insights on today’s market in business and technology. Latest trends and insightful topics will be discussed by industry professionals for global amplification of innovation.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/bg_nbtc.png" alt="NBTC ’14" class="pillar-logo">
		<p class="hidden-xs">The National Business and Technology Conference (NBTC) is an annual conference that connects young leaders, industry professionals, and companies across North America to learn from and inspire each other.</p>
	</div>
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/bg_ds.png" alt="Discovery Series" class="pillar-logo">
		<p class="hidden-xs">Discovery Series (DS) is a monthly speaker and networking event series where successful professionals share their stories and experiences with young leaders. Our audiences include the University of Toronto, Western University, University of Waterloo, and Wilfrid Laurier University.</p>
	</div>
</div>
<div class="clearfix"></div>
