<h1 class="text-center">NBTC is a weekend of access to unparalleled opportunities</h1>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-2 text-center pillar">
		<h2 class="number-delegates">400</h2>
		<script>
			$(document).ready(function() {
				var target = 400;
				var number = 0;
				var interval = setInterval(function() {
					$('.number-delegates').text(number);
					if (number >= target) clearInterval(interval);
					number++;
				});
			});
		</script>
		<h3>Passionate Delegates</h3>
	</div>
	<div class="col-sm-2 text-center pillar">
		<h2><span class="number-speakers">30</span><sup>+</sup></h2>
		<script>
			$(document).ready(function() {
				var target = 30;
				var number = 0;
				var interval = setInterval(function() {
					$('.number-speakers').text(number);
					if (number >= target) clearInterval(interval);
					number++;
				}, 90);
			});
		</script>
		<h3>World Class Speakers</h3>
	</div>
	<div class="col-sm-2 text-center pillar">
		<h2><span class="number-organizations">50</span><sup>+</sup></h2>
		<script>
			$(document).ready(function() {
				var target = 50;
				var number = 0;
				var interval = setInterval(function() {
					$('.number-organizations').text(number);
					if (number >= target) clearInterval(interval);
					number++;
				}, 50);
			});
		</script>
		<h3>Partner Organizations</h3>
	</div>
	<div class="col-sm-2 text-center pillar">
		<h2 class="number-competitions">2</h2>
		<h3>Fierce Competitions</h3>
	</div>
	<div class="col-sm-2 text-center pillar">
		<h2>1</h2>
		<h3>Epic Weekend</h3>
	</div>
	<div class="col-sm-2 text-center pillar">
		<h2>∞</h2>
		<h3>Big Ideas</h3>
	</div>
</div>
<div class="clearfix"></div>
