<h1 class="text-center">
	The Program
</h1>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar connect">
		<!-- <img src="{{ site.baseurl }}/img/connect.svg" alt="Venue" class="pillar-logo"> -->
		<p class="lead">Venue</p>
		<h2>The Carlu</h2>
		<!-- <p>View map • Download</p> -->
	</div>
	<div class="col-sm-4 text-center pillar empower">
		<!-- <img src="{{ site.baseurl }}/img/empower.svg" alt="Accommodation" class="pillar-logo"> -->
		<p class="lead">Accommodation</p>
		<h2>Eaton Chelsea</h2>
		<p><a href="http://chelsea.eatonhotels.com/locate/chelsea-hotels-map.htm" target="_blank">Map</a> • <a href="http://chelsea.eatonhotels.com/photos/eaton-chelsea-hotel.htm" target="_blank">Photos</a></p>
	</div>
	<div class="col-sm-4 text-center pillar inspire">
		<!-- <img src="{{ site.baseurl }}/img/nbtc-schedule.svg" alt="Schedule" class="pillar-logo"> -->
		<p class="lead">Schedule</p>
		<h2>Coming Soon</h2>
		<!-- <p>View map • Download</p> -->
	</div>
</div>
<div class="clearfix"></div>
