<h1 class="text-center">
	The Program
</h1>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar empower">
		<img src="{{ site.baseurl }}/img/network-blue.svg" alt="Accommodation" class="pillar-logo">
		<p class="lead">Accommodation</p>
		<h2>Eaton Chelsea</h2>
		<p><a href="http://chelsea.eatonhotels.com/locate/chelsea-hotels-map.htm" target="_blank">Map</a> • <a href="http://chelsea.eatonhotels.com/photos/eaton-chelsea-hotel.htm" target="_blank">Photos</a></p>
	</div>
	<div class="col-sm-4 text-center pillar connect">
		<img src="{{ site.baseurl }}/img/location-blue.svg" alt="Venue" class="pillar-logo">
		<p class="lead">Venue</p>
		<h2>The Carlu</h2>
		<p><a href="https://maps.google.ca/maps?q=Map-+444+Yonge+Street,+7th+Floor+Toronto,+Canada+M5B+2H4&ie=UTF-8&hq=&hnear=0x882b34b5064adc6f:0x173a3c727ad67b2a,444+Yonge+St,+Toronto,+ON+M5B+2H4&gl=ca&ei=gHngUpe-PKfR2wXbrYHYCg&ved=0CCYQ8gEwAA" target="_blank">Map</a> • <a href="http://www.thecarlu.com/" target="_blank">Website</a></p>
	</div>
	<a href="/nbtc-schedule.pdf" target="_blank">
	<div class="col-sm-4 text-center pillar inspire">
		<img src="{{ site.baseurl }}/img/schedule-blue.svg" alt="Schedule" class="pillar-logo">
		<p class="lead">Schedule</p>
		<h2>View</h2>
	</div>
	</a>
</div>
<div class="clearfix"></div>
