<img src="{{ site.baseurl }}/img/nbtc_logo_white.svg" alt="NBTC ’14" class="nbtc-logo">
<p class="lead text-center">
	This page is still being Nspired.
	<br>
	While we work our magic, please check out some conference details.
</p>
<div class="col-md-10 col-md-offset-1 what-is-nbtc">
	<h2 class="text-center">What is NBTC’14?</h2>
	<p class="lead text-center">
		Each year, the National Business and Technology Conference brings together 400 youth leaders from across North America to share big ideas, connect with industry professionals, and listen to world-class speakers. NBTC’14 is set to be an enriching experience not to be missed by tomorrow’s innovators, entrepreneurs, and leaders within the business and technology space.
	</p>
</div>
<div class="clearfix"></div>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar nbtc-popover" data-toggle="popover" data-content="Connect, empower, and inspire the next generation of innovative CEOs, Founders and Leaders in the business and technology space">
		<img src="{{ site.baseurl }}/img/mission.svg" alt="Mission" class="pillar-logo">
		<h2>Mission</h2>
	</div>
	<div class="col-sm-4 text-center pillar nbtc-popover" data-toggle="popover" data-content="More than 400 delegates composed of young leaders and entrepreneurs in the business and technology space from across Canada and the US">
		<img src="{{ site.baseurl }}/img/audience.svg" alt="Audience" class="pillar-logo">
		<h2>Audience</h2>
	</div>
	<div class="col-sm-4 text-center pillar nbtc-popover" data-toggle="popover" data-html="true" data-content="
		<ul>
			<li>Reza Satchu, Founding Chairman &amp; Co-Chair of The Next 36</li>
			<li>Anthony Lacavera, CEO of WIND Mobile</li>
			<li>Jordan Banks, Managing Director of Facebook Canada</li>
			<li>Eric Gales, President of Microsoft Canada</li>
			<li>Peter Aceto, President and CEO of ING DIRECT Canada</li>
			<li>Michael Serbinis, CEO of Kobo</li>
			<li>Harry Rosen, Founder of Harry Rosen Inc.</li>
			<li>Isadore Sharp, Founder and Chairman of Four Seasons Hotels</li>
			<li>Bruce Ross, President of IBM Canada</li>
		</ul>">
		<img src="{{ site.baseurl }}/img/speakers.svg" alt="Past Speakers" class="pillar-logo">
		<h2>Past Speakers</h2>
	</div>
</div>
<div class="clearfix"></div>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar nbtc-popover" data-toggle="popover" data-content="The Carlu, Toronto">
		<img src="{{ site.baseurl }}/img/location.svg" alt="Location" class="pillar-logo">
		<h2>Location</h2>
	</div>
	<div class="col-sm-4 text-center pillar nbtc-popover" data-toggle="popover" data-content="March 21–22, 2014">
		<img src="{{ site.baseurl }}/img/date.svg" alt="Date" class="pillar-logo">
		<h2>Date</h2>
	</div>
	<a href="mailto:nbtc@nspire.org">
	<div class="col-sm-4 text-center pillar">
		<img src="{{ site.baseurl }}/img/contact.svg" alt="Contact" class="pillar-logo">
		<h2>Contact</h2>
	</div>
	</a>
</div>
<script>
	$('.nbtc-popover').popover({'placement': 'top'});
</script>
<div class="clearfix"></div>
