<h1 class="text-center">
	About NBTC
</h1>
<p class="lead text-center">
	Since 2001, the National Business and Technology Conference has been where 400 youth leaders from across North America meet to share big ideas, connect with industry professionals and listen to world-class speakers. Delegates also have the opportunity to compete in the flagship Entrepreneurship Competition and Consulting Case Competition in order to earn incredible prizes. NBTC is set to be an enriching experience, not to be missed by big thinkers, bold leaders and aspiring entrepreneurs.
<p>
<a href="/nbtc/about" class="btn btn-lg nbtc-landing-more">But Wait, There's More…</a>
<iframe width="640" height="480" src="//www.youtube.com/embed/n51MMSL1hP8?rel=0" frameborder="0" allowfullscreen class="video center-block"></iframe>
