<h1 class="text-center">Schedule</h1>
<div class="col-sm-6">
	<h2 class="text-center">Friday March 21</h2>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="8" min="00" dur="3 hrs" title="Consulting Case Competition: Preliminary Round" loc="Skyroom, Concert Hall, Clipper Room, Round Room" %}
	</div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="10" min="00" dur="90 min" title="Registration <small>- (Professional Headshots, Business Cards & Affiliates Expo)</small>" loc="Grand Foyer" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="11" min="00" dur="2 hrs" title="Keynote - Divya Narendra" loc="Concert Hall" %}
		{% include schedule-block.html hr="" min="" dur="" title="Keynote - Daniel Debow" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="1" min="00" dur="60 min" title="Lunch/Networking Break" loc="Concert Hall" %}
	</div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="1" min="00" dur="60 min" title="Case Competition <small>- Final Round</small>" loc="Round Room" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="2" min="00" dur="60 min" title="<small>Workshop: How Open-Source Work Culture Works<br>John Britton - GitHub</small>" loc="Concert Hall" %}
	</div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="2" min="00" dur="60 min" title="<small>Workshop: How to Run an Effective Crowdfunding Campaign<br>Ayah Norris - Indiegogo</small>" loc="Skyroom" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="2" min="00" dur="60 min" title="<small>Workshop<br>Conrad Business, Entrepreneurship & Technology</small>" loc="Round Room" %}
	</div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="2" min="00" dur="60 min" title="<small>Workshop: How to Bring Your Ideas to Life, Prototyping<br>Sheena Redpath - Ideal Samples</small>" loc="Clipper Room" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="3" min="10" dur="45 min" title="Idea Execution Panel <small>- Ameet Shah, Alkarim Nasser, Allen Lau, Satish Kanwar, David Crow (Moderator)</small>" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="4" min="10" dur="30 min" title="Networking Break" loc="Grand Foyer" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="4" min="40" dur="60 min" title="<small>Interactive Workshop: From Idea Generation to Pitching Investors<br>Ben Raffi - Uniiverse</small>" loc="Clipper Room" %}
	</div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="4" min="40" dur="60 min" title="<small>Workshop: Don't Know How to Code? You Can Still Build an App!<br>Sage Franch - Microsoft</small>" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="4" min="40" dur="60 min" title="<small>Workshop: Executing on Clarity<br>Cameron Chell - Business Instincts</small>" loc="Round Room" %}
	</div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="4" min="40" dur="60 min" title="<small>Workshop: How to Disrupt Industries<br>Billy Guernier - Uber</small>" loc="Skyroom" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="6" min="00" dur="30 min" title="Closing Keynote - Michael Hyatt" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="6" min="30" dur="30 min" title="Dinner" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="7" min="00" dur="2 hrs" title="Career Fair" loc="Grand Foyer" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="9" min="00" dur="2 hrs" title="MBNA Idea Exchange and Networking Social" loc="Grand Foyer" %}
	</div>
	<div class="clearfix"></div>
</div>
<div class="col-sm-6">
	<h2 class="text-center">Saturday March 22</h2>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="8" min="00" dur="3 hrs" title="Entrepreneurship Competition: Preliminary Round" loc="Skyroom, Concert Hall, Clipper Room, Round Room" %}
	</div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="10" min="00" dur="90 min" title="Product & Affiliates Expo" loc="Grand Foyer" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="11" min="00" dur="90 min" title="Keynote - Nitin Kawale" loc="Concert Hall" %}
		{% include schedule-block.html hr="" min="" dur="" title="Keynote - Seth Rosenberg" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="12" min="30" dur="60 min" title="<small>Workshop: App Store Ecosystem<br>Blair Beckwith - Shopify</small>" loc="Skyroom" %}
	</div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="12" min="30" dur="60 min" title="<small>Workshop: LinkedIn for Career and Business Success<br>Steve Watt - LinkedIn</small>" loc="Round Room" %}
	</div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="1" min="40" dur="60 min" title="Lunch/Networking Break/Product Expo" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="2" min="50" dur="60 min" title="<small>Workshop: A VC's Guide to Raising Money<br>Damien Steel - OMERS Ventures</small>" loc="Concert Hall" %}
	</div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="2" min="50" dur="60 min" title="<small>Workshop: Analytics For Startups<br>Sean Power - Bitmaker labs</small>" loc="Round Room" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="2" min="50" dur="60 min" title="<small>Workshop: How to F@!*$)G Start<br>Dean McCall</small>" loc="Clipper Room" %}
	</div>
	<div class="col-xs-6 block workshop">
		{% include schedule-block.html hr="2" min="50" dur="60 min" title="<small>Workshop: Experiencing UX<br>CIBC</small>" loc="Skyroom" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="4" min="00" dur="45 min" title="Startup Panel <small>- Brice Scheschuk, Doug Cooper, Soman Mondal, Hongwei Liu</small>" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="5" min="10" dur="30 min" title="Networking Break" loc="Grand Foyer" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="5" min="40" dur="90 min" title="Entrepreneurship Competition - Final Round" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="7" min="10" dur="30 min" title="Closing Keynotes - Andrew D'Souza" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="7" min="45" dur="30 min" title="Dinner" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="8" min="15" dur="45 min" title="Closing Ceremony & Awards Presentation" loc="Concert Hall" %}
	</div>
	<div class="clearfix"></div>
	<div class="col-xs-6 block">
		{% include schedule-block.html hr="9" min="00" dur="" title="Social/After Party" loc="TBD" %}
	</div>
	<div class="clearfix"></div>
</div>
