<div class="col-sm-6 hidden-xs follow">
	<h2>
		<span>Follow Us</span>
		<a href="https://www.facebook.com/NspireNetwork" target="_blank" class="newsletter-social">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				<i class="fa fa-facebook fa-stack-1x"></i>
			</span>
		</a>
		<a href="https://twitter.com/NspireNetwork" target="_blank" class="newsletter-social">
			<span class="fa-stack fa-2x">
				<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
				<i class="fa fa-twitter fa-stack-1x"></i>
			</span>
		</a>
	</h2>
</div>
<div class="col-xs-12 col-sm-6 sign-up">
	<h2>Sign Up For Our Newsletter</h2>
	<form action="https://madmimi.com/signups/subscribe/20805" method="POST" role="form">
		<div class="form-group">
			<label for="newsletterEmail" class="sr-only">Email address</label>
			<input type="email" name="signup[email]" id="newsletterEmail" class="form-control input-lg email" placeholder="Enter your email address&hellip;" required>
		</div>
		<button type="submit" class="btn btn-lg">Sign Up</button>
	</form>
</div>
<div class="clearfix"></div>
