<h1 class="text-center">Our Team</h1>
<p class="lead text-center">
	We are a dynamic group of young leaders with a unified passion for business &amp; technology. We hustle to achieve our vision and mission.
</p>
<div class="col-sm-2"></div>
<div class="col-sm-8">
	<ul class="nav nav-pills nav-justified filters">
		<li><a href="#" data-filter="*">All</a></li>
		<li><a href="#" data-filter=".Nspire.Strategic">Nspire Strategic</a></li>
		<li><a href="#" data-filter=".Design.Graphics">Design and Graphics</a></li>
		<li><a href="#" data-filter=".Web.Development">Web Development</a></li>
		<li><a href="#" data-filter=".Campus.Ambassador">Campus Ambassador</a></li>
		<br>
		<li><a href="#" data-filter=".National.Business.Technology.Conference">NBTC</a></li>
		<li><a href="#" data-filter=".NspireTV">NspireTV</a></li>
		<li><a href="#" data-filter=".Discovery.Series">Discovery Series</a></li>
		<li><a href="#" data-filter=".Nteract">Nteract</a></li>
	</ul>
</div>
<div class="clearfix"></div>
<br>
<div class="col-sm-8 col-sm-offset-2">
	<div class="members">
		{% for member in site.data.team %}
			{% if member.photo %}
			<img src="{{ member.photo }}" alt="{{ member.firstname }} {{member.lastname}}" data-toggle="modal" data-target="#{{ forloop.index }}Modal" width="90" height="90" class="member {{ member.department }}">
			<div class="modal fade" id="{{ forloop.index }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ forloop.index }}ModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="{{ forloop.index }}ModalLabel">{{ member.firstname }} {{ member.lastname }}</h4>
						</div>
						<div class="modal-body text-center">
							<img src="{{ member.photo }}" alt="{{ member.firstname }} {{member.lastname}}" width="90" height="90" class="img-circle center-block">
							<br>
							<p>
								<span class="lead">
									<strong>{{ member.firstname }} {{ member.lastname }}</strong>
									<br>
									{{ member.position }}
								</span>
								<br><br>
								<strong>Department:</strong> {{ member.department }}
								<br><br>
								{{ member.bio }}
								<br><br>
								<strong>Grew up in:</strong> {{ member.hometown }}
								<br>
								<strong>Can’t give up:</strong> {{ member.need }}
								<br>
								<strong>Excited by:</strong> {{ member.excitement }}
								<br><br>
								<div class="row">
								<div class="col-sm-2"></div>
								{% if member.twitter %}
								<div class="col-sm-2">
								<a href="{{ member.twitter }}" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
								</div>
								{% endif %}
								{% if member.facebook %}
								<div class="col-sm-2">
								<a href="{{ member.facebook }}" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
								</div>
								{% endif %}
								{% if member.linkedin %}
								<div class="col-sm-2">
								<a href="{{ member.linkedin }}" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
								</div>
								{% endif %}
								{% if member.website %}
								<div class="col-sm-2">
								<a href="{{ member.website }}" target="_blank"><i class="fa fa-2x fa-globe"></i></a>
								</div>
								{% endif %}
								</div>
							</p>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			{% endif %}
		{% endfor %}
	</div>
</div>
<script>
	var $container = $('.members');
	$container.isotope({
		itemSelector: '.member',
	});

	$('.filters a').click(function(){
		var selector = $(this).attr('data-filter');
		$container.isotope({ filter: selector });
		return false;
	});
	$('.member').popover();
</script>
<div class="clearfix"></div>
