<h1 class="text-center">
	What is <img src="{{ site.baseurl }}/img/nspire_logo_blue.svg" alt="Nspire" class="what-is-nspire-logo">
</h1>
<p class="lead text-center">
	Nspire Innovation Network is Canada's largest student-run nonprofit organization in the business and technology space.
<p>
<div class="col-sm-9 pillar-info">
	<div class="col-sm-4 text-center pillar connect">
		<img src="{{ site.baseurl }}/img/connect.svg" alt="Connect" class="pillar-logo">
		<h2>Connect</h2>
		<p>To connect innovative youth leaders, industry professionals and entrepreneurs.</p>
	</div>
	<div class="col-sm-4 text-center pillar empower">
		<img src="{{ site.baseurl }}/img/empower.svg" alt="Empower" class="pillar-logo">
		<h2>Empower</h2>
		<p>To empower youth with the skills and knowledge that will enable them to distinguish themselves as innovative leaders.</p>
	</div>
	<div class="col-sm-4 text-center pillar inspire">
		<img src="{{ site.baseurl }}/img/inspire.svg" alt="Inspire" class="pillar-logo">
		<h2>Inspire</h2>
		<p>To inspire youth with the confidence to take on challenges and opportunities they would never have thought possible.</p>
	</div>
</div>
<div class="clearfix"></div>
