<h1>Why NBTC’14?</h1>
<p class="lead">
	NBTC is not an ordinary conference. It will not only provide you with “lightbulb” moments, but also provides you the insights and connects you with the resources to help your ideas take flight.
	<br><br>
	Your ticket to NBTC will provide you with unparalleled opportunities, which include:
</p>
<h2>Networking</h2>
<p class="lead">with C-Suite executives, seasoned entrepreneurs, corporate representatives and the next generation of innovators. You will build meaningful connections that will extend well beyond the conference.</p>
<h2>Becoming a part of history</h2>
<p class="lead">as we enter our 13th year as a conference. NBTC was founded in 2001 by a group of University of Toronto students with the goal of bridging the gap between the fields of business and technology.</p>
<h2>Attending</h2>
<p class="lead">captivating speaker sessions hosted by disruptive innovators, leadership gurus and successful entrepreneurs</p>
<h2>Participating</h2> 
<p class="lead">in unique and interactive workshops that will teach you tangible skills.</p>
<h2>Competing</h2>
<p class="lead">to win cash prizes and exclusive mentorship.</p>
