// colours

// greyscale
$white: #fff;
$off-white: #faf7f5;
$about-us-back: #f5f7f9;
$lighter-grey: #f0f2f3;
$light-grey: #999999;
$grey: #4a4a4a;
$dark-grey: #4A4A4A;
$darker-grey: #222;
$off-black: #111;
$black: #000;

// primary
$red: #ff5454;
$blue: #3688c8;

//secondary
$orange: #f7941e;

//translucent
$t-orange:rgba(247, 148, 30, 0.8);

