// colours

// greyscale
$white: #fff;
$off-white: #f6f6f6;
$lighter-grey: #eee;
$light-grey: #aaa;
$grey: #555;
$dark-grey: #333;
$darker-grey: #222;
$off-black: #111;
$black: #000;

// primary
$red: #ff5454;