---
layout: nbtc16
title: NBTC’16
---

<br/>
<br/>
<br/>

<style>

p, li {
  font-size: 16px;
}

</style>

<div class="row">

  <h1 class="text-center">Health Tech Competition</h1>

  <div class="col-md-5 col-md-offset-1">
    <h3 class="text-center">
      <strong>
        Case Competition
      </strong>
    </h3>
    <p class="text-center">
      Sponsored by Telus Consumer Health Division (targeted toward the general populace)
      and Telus Health Division (targeted towards research and development, pharmaceuticals and coporations/companies).
    </p>
    <ol>
      <li>
        <strong>Health Analytics</strong>:
        Combining wearables informatioin and data into personal health records via a home health monitoring platform
      </li>
      <li>
        Combining wearables and personal health records with electronical medical/health records in hospitals/doctor's office
      </li>
      <li>
        Reducing the cost in HealthCare
      </li>
    </ol>
  </div>

  <div class="col-md-5">
    <h3 class="text-center">
      <strong>
        Workshops
      </strong>
    </h3>

    <ol>
      <li>
        <strong>Telus | Health</strong>:
        How-to-Competition; what they're looking for, what their products are,
        opportunity for Telus | Health people to look over the work delegates already have and provide critique
      </li>
    </ol>
  </div>
</div>


<div class="row">
  <h2 class="text-center">Check Out These Other Cool People That'll Be There</h2>
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <div class="affiliates vcontainer">
      {% for s in site.data.sponsors/htc-non-monetary %}
      <div class="affiliate vcenter">
        {% if s.logo %}
        <img src="{{ s.logo }}" alt="{{ s.name }}" width="300" class="affiliate-logo vlogo">
        {% else %}
        <h2>{{ s.name }}</h2>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <h2 class="text-center">Sponsors</h2>
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <div class="affiliates vcontainer">
      {% for s in site.data.sponsors/htc %}
      <div class="affiliate vcenter">
        {% if s.logo %}
        <img src="{{ s.logo }}" alt="{{ s.name }}" width="300" class="affiliate-logo vlogo">
        {% else %}
        <h2>{{ s.name }}</h2>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>