<h1 class="text-center">
  About NBTC
</h1>
<iframe width="560" height="500" src="https://www.youtube.com/embed/ynKfCOQmNl8" class = "video center-block" frameborder="0" allowfullscreen></iframe>
<p class="lead text-center">
  Over the course of 15 incredible years, The National Business &amp; Technology Conference has grown into Canada’s premiere destination for the next generation of CEOs, founders, and innovators. We are a meeting place for tomorrow’s influencers and today’s changemakers who operate at the intersection of business and technology. Welcome to the stepping stone for the journey to your future.
</p>
