<div class="row">
  <h1 class="text-center" style="margin-bottom: 40px" id="competitions">
    Competitions
  </h1>
  <div class="col-md-6">
    <div class="competition-blurb">
      <img src="{{ site.baseurl }}/img/competitions_entrepreneurship.svg" alt="Entrepeneurship Challenge" class="center-block img-responsive">
      <h2 class="text-center">Entrepreneurship Challenge</h2>
      <p>
        Our prestigious entrepreneurship competition was established to provide you with unique opportunities to pitch your business and win amazing prizes. Our past winners have gone on to be acquired by Google (BufferBox), win TechCrunch Disrupt (Voltera), and be listed in Forbes 30 Under 30 (Tunezy).
      </p>
      <p class="text-center"><strong><a href="/nbtc16/competitions/ec.html">Click here to learn more and to apply</a></strong></p>
      <p> <strong>DEADLINE: January 22, 2016 @ 11:59PM</strong></p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="competition-blurb">
      <img src="{{ site.baseurl }}/img/competitions_big_data.svg" alt="Entrepeneurship Challenge" class="center-block img-responsive">
      <h2 class="text-center">Big Data Competition</h2>
      <p>
        The world is filled with data. How do we master this complexity? What are its implications?

        Our Big Data competition will provide you with both the tools you need to understand this key trend and a platform that will immerse you in the industry. You will gain practical, real-world experience while solving challenging case-based problems.
      </p>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="competition-blurb">
    <img src="{{ site.baseurl }}/img/competitions_health_tech.svg" alt="Entrepeneurship Challenge" class="center-block img-responsive">
      <h2 class="text-center">Health Tech Competition</h2>
      <p class="text-center">
        This unique competition will challenge you to innovate at the intersection of healthcare and technology. You’ll participate in workshops led by industry leaders to give you a feel for the industry. Then, you’ll work off a real-world scenario to innovate and create tangible, feasible ideas for change. Teams will be judged by a panel of industry experts.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="competition-blurb">
      <img src="{{ site.baseurl }}/img/competitions_financial_tech.svg" alt="Entrepeneurship Challenge" class="center-block img-responsive">
      <h2 class="text-center">Financial Tech Competition</h2>
      <p class="text-center">
        Our case-based FinTech competition is perfect for those interested in analyzing how the finance and technology industries can leverage one another. As a participant, you’ll take part in workshops that will teach you how to effectively tackle your case.
      </p>
    </div>
  </div>
</div>
