<h1 class="text-center">Schedule</h1>
<div class="col-sm-6">
	<h2 class="text-center">Friday February 5</h2>

	<div class="row block">
		{% include schedule-block.html hr="8" min="00" dur="1 hr" title="Setup & Registration" loc="Main Foyer" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="9" min="00" dur="30 min" title="Meet & Greet" loc="Ballroom" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="9" min="45" dur="15 min" title="Opening Ceremonies" loc="Ballroom" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="10" min="00" dur="30 min" title="Keynote: Andy Yang (500px)" loc="Ballroom" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		<div class="col-xs-6">
			{% include schedule-block.html hr="10" min="45" dur="1 hr" title="Workshop: PwC" loc="Ballroom" %}
			{% include schedule-block.html hr="" min="" dur="" title="Workshop: SAS" loc="C/D" %}
		</div>
		<div class="col-xs-6">
			{% include schedule-block.html hr="" min="" dur="" title="Workshop: Figure 1" loc="K/O" %}
			{% include schedule-block.html hr="" min="" dur="" title="Workshop: RBC" loc="M/B" %}
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		<div class="col-xs-6">
			{% include schedule-block.html hr="12" min="00" dur="1 hr" title="Workshop: DMZ" loc="Ballroom" %}
			{% include schedule-block.html hr="" min="" dur="" title="Workshop: IBM" loc="C/D" %}
		</div>
		<div class="col-xs-6">
			{% include schedule-block.html hr="" min="" dur="" title="Workshop: Telus" loc="K/O" %}
			{% include schedule-block.html hr="" min="" dur="" title="Workshop: Sun Life" loc="M/B" %}
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="1" min="15" dur="1 hr" title="Lunch" loc="Ballroom" %}
		{% include schedule-block.html hr="" min="" dur="" title="FinTech Finals" loc="Ballroom" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="2" min="30" dur="1 hr" title="Ideas Exchange Panel: Health Tech" loc="Ballroom" %}
		{% include schedule-block.html hr="" min="" dur="" title="Ideas Exchange Panel: Big Data" loc="K/O/M/B" %}
		{% include schedule-block.html hr="" min="" dur="" title="Ideas Exchange Panel: Big Data" loc="K/O/M/B" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="3" min="30" dur="1 hr" title="Ideas Exchange Panel: OMERS Entrepreneurship" loc="Ballroom" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="4" min="45" dur="1 hr" title="Workshop: Conrad" loc="Ballroom" %}
		{% include schedule-block.html hr="" min="" dur="" title="Workshop: Accenture" loc="C/D" %}
		{% include schedule-block.html hr="" min="" dur="" title="Workshop: GTBC" loc="K/O" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="6" min="00" dur="30 min" title="Keynote: Mike Sutton (Zulu Alpha Kilo)" loc="Ballroom" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		<div class="col-xs-6">
			{% include schedule-block.html hr="6" min="45" dur="1 hr" title="Dinner" loc="Ballroom" %}
		</div>
		<div class="col-xs-6">
			{% include schedule-block.html hr="6" min="45" dur="30 min" title="Keynote: David Craig (PwC)" loc="Ballroom" %}
		</div>
		<div class="col-xs-6"></div>
		<div class="col-xs-6">
			{% include schedule-block.html hr="7" min="15" dur="30 min" title="PwC Industry Night Panel" loc="Ballroom" %}
		</div>
	</div>

	<div class="row block">
		{% include schedule-block.html hr="8" min="00" dur="30 min" title="Networking: Big Data & Health Tech" loc="Ballroom" %}
		{% include schedule-block.html hr="" min="" dur="" title="Networking: FinTech" loc="C/D" %}
		{% include schedule-block.html hr="" min="" dur="" title="Networking: Entrepreneurship" loc="K/O/M/B" %}
	</div>
	<div class="clearfix"></div>

	<div class="row block">
		{% include schedule-block.html hr="8" min="30" dur="" title="Networking: General" loc="Ballroom" %}
	</div>
</div>
