<h1 class="text-center">
  Scale New Heights
</h1>
<div class="col-sm-9 pillar-info">
  <p class="lead text-center pillar" style="color: white;">
    <strong>NBTC’16</strong>: We’re back, bigger, and better than ever! For the past 15 years, we’ve brought you face-to-face with world class speakers, industry professionals, and some of the country’s brightest young minds.
  </p>
  <p class="lead text-center pillar" style="color: white;">
    This year, we invite you to learn, connect, and challenge yourself during NBTC’16. Be prepared for the two best days of your life. Join us and:
  </p>
</div>
<div class="col-sm-9 pillar-info">
  <div class="col-sm-3 text-center pillar connect">
    <img src="{{ site.baseurl }}/img/network.svg" alt="Connect" class="pillar-logo">
    <h2>Connect</h2>
    <p>with North America’s most prolific industry leaders, C-Suite executives, and seasoned entrepreneurs during networking opportunities, career fairs, and product expositions. Build lasting relationships with your future mentors and with Canada’s top student talent.</p>
  </div>
  <div class="col-sm-3 text-center pillar learn">
    <img src="{{ site.baseurl }}/img/learn.svg" alt="Empower" class="pillar-logo">
    <h2>Learn</h2>
    <p>during captivating workshops, product expositions, and keynote speeches delivered by the nation’s top leaders. </p>
  </div>
  <div class="col-sm-3 text-center pillar innovate">
    <img src="{{ site.baseurl }}/img/innovate.svg" alt="Inspire" class="pillar-logo">
    <h2>Innovate</h2>
    <p>as you participate in our prestigious Entrepreneurship Challenge, HealthTech, and FinTech Competitions. Come prepared - past winners such as BufferBox, Voltera, and Tunezy have gone on to be acquired by Google, win Silicon Valley’s world-renowned TechCrunch Disrupt, and be ranked in Forbes Top 30 Under 30.</p>
  </div>
  <div class="col-sm-3 text-center pillar connect">
    <img src="{{ site.baseurl }}/img/enable.svg" alt="Connect" class="pillar-logo">
    <h2>Enable</h2>
    <p>yourself to Scale New Heights with us. NBTC'16 - are you <strong>ready</strong>?</p>
  </div>
