<div id="sponsors">
	<h2 class="text-center">Platinum Sponsors</h2>
	<div class="col-sm-10 col-sm-offset-1">
		<div class="affiliates vcontainer">
			{% for s in site.data.nbtc16/sponsors/platinum %}
			<div class="affiliate vcenter">
				{% if s.logo %}
				{% if s.name == "Rogers" %}
				<img src="{{ s.logo }}" alt="{{ s.name }}" width="400" class="affiliate-logo vlogo">
				{% else if s.name == "MBNA" %}
				<a href="http://alumni.utoronto.ca/services/financial-services/credit-card/"><img src="{{ s.logo }}" alt="{{ s.name }}" width="300" class="affiliate-logo vlogo"></a>
				{% else %}
				<img src="{{ s.logo }}" alt="{{ s.name }}" width="300" class="affiliate-logo vlogo">
				{% endif %}
				{% else %}
				<h2>{{ s.name }}</h2>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>


	<div class="clearfix"></div>
	<br>

	<h2 class="text-center">Gold Sponsors</h2>
	<div class="col-sm-10 col-sm-offset-1">
		<div class="affiliates vcontainer">
			{% for s in site.data.nbtc16/sponsors/gold %}
			<div class="affiliate vcenter">
				{% if s.logo %}
				<img src="{{ s.logo }}" alt="{{ s.name }}" width="300" class="affiliate-logo vlogo">
				{% else %}
				<h2>{{ s.name }}</h2>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="clearfix"></div>
	<br>

	<h2 class="text-center">Silver Sponsors</h2>
	<div class="col-sm-10 col-sm-offset-1">
		<div class="affiliates vcontainer">
			{% for s in site.data.nbtc16/sponsors/silver %}
			<div class="affiliate vcenter">
				{% if s.logo %}
				<img src="{{ s.logo }}" alt="{{ s.name }}" width="200" class="affiliate-logo vlogo">
				{% else %}
				<h2>{{ s.name }}</h2>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<div class="clearfix"></div>
<br>