<h1 class="text-center">Our NBTC Team</h1>
<div class="clearfix"></div>
<br>
<div class="col-sm-8 col-sm-offset-2">
	<div class="members">
		{% for member in site.data.nbtc16/team %}
			<div class="member-container {{ member.department }}">
				<img src="{{ member.photo }}" alt="{{ member.firstname }} {{member.lastname}}" width="90" height="90" class="member">
				<div class="text-center member-info" data-toggle="modal" data-target="#{{ forloop.index }}Modal">
					<p>
						<span class="member-name">{{ member.firstname }} {{ member.lastname }}</span>
					</p>
				</div>
			</div>
			<div class="modal fade" id="{{ forloop.index }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ forloop.index }}ModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="{{ forloop.index }}ModalLabel">{{ member.firstname }} {{ member.lastname }}</h4>
						</div>
						<div class="modal-body text-center">
							<img src="{{ member.photo }}" alt="{{ member.firstname }} {{member.lastname}}" width="90" height="90" class="img-circle center-block">
							<br>
							<p>
								<span class="lead">
									<strong>{{ member.firstname }} {{ member.lastname }}</strong>
								</span>
								<br><br>
								<strong>Department:</strong> {{ member.department }}
								<br><br>
								{{ member.bio }}
								<br><br>
								<div class="row">
								<div class="col-sm-2"></div>
								</div>
							</p>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		{% endfor %}
	</div>
</div>
<script>
	var $container = $('.members');
	$container.isotope({
		itemSelector: '.member-container',
	});

	$('.filters a').click(function(){
		var selector = $(this).attr('data-filter');
		$container.isotope({ filter: selector });
		return false;
	});
	$('.member').popover();
</script>
<div class="clearfix"></div>
