---
layout: nbtc
title: About NBTC’14
---
<div id="nbtc-about-header" class="row nbtc-about-header">
	<img src="{{ site.baseurl }}/img/nbtc_logo_white.svg" alt="NBTC’14">
	<h1>About Us</h1>
</div>
<script>
	$("#nbtc-about-header").height($(window).height() / 2);
</script>
<div id="what-is-nbtc" class="row what-is-nbtc">
	{% include what-is-nbtc.html %}
</div>
<div id="nbtc-program" class="row nbtc-program">
	{% include nbtc-program.html %}
</div>
<!-- <div id="nbtc-highlights" class="row nbtc-highlights"> -->
<!-- 	{% include nbtc-highlights.html %} -->
<!-- </div> -->
