---
layout: nbtc
title: NBTC’14 Competitions
---
<div id="nbtc-competitions-header" class="row nbtc-competitions-header">
	<img src="{{ site.baseurl }}/img/nbtc_logo_white.svg" alt="NBTC’14">
	<h1>Competitions</h1>
</div>
<script>
	$("#nbtc-competitions-header").height($(window).height() / 2);
</script>
<div id="nbtc-competitions-body" class="row nbtc-competitions-body">
	<h1 class="text-center">Entrepreneurship Competition</h1>
	<p class="lead text-center">
		This year, one of Canada’s largest entrepreneurship competitions is back and better than ever before. It will provide budding entrepreneurs, “the newcomers” and the “veterans”, with the opportunity to:
	</p>
	<div class="col-sm-3 text-center">
		<img src="http://i.imgur.com/ADR0zLn.png">
		<h2>Present</h2>
		<p>your business plan and receive valuable feedback from an esteemed panel of judges</p>
	</div>
	<div class="col-sm-3 text-center">
		<img src="http://i.imgur.com/sK5dtOp.png">
		<h2 class="text-center">Compete</h2>
		<p>against innovative entrepreneurs from all across North America</p>
	</div>
	<div class="col-sm-3 text-center">
		<img src="http://i.imgur.com/Aqr2oxc.png">
		<h2 class="text-center">Network</h2>
		<p>with patent firms, venture capitalist/ angel investors, incubators, accelerators, and local startups</p>
	</div>
	<div class="col-sm-3 text-center">
		<img src="http://i.imgur.com/Yh4q1vz.png">
		<h2 class="text-center">Earn</h2>
		<p>incredible prizes, the recognition as the most promising startup and media exposure!</p>
	</div>
</div>
<div id="nbtc-competitions-idea" class="row nbtc-competitions-idea text-center">
	<h2>This is your chance to take your idea from concept to creation, and beyond! What will you do?</h2>
</div>
<div id="nbtc-competitions-prizes" class="row nbtc-competitions-prizes text-center">
	<div class="col-sm-2 col-sm-offset-1">
		<h2>Prize $5,000 ($2,000 for Newcomers, $3,000 for Veterans) from</h2>
	</div>
	<div class="col-sm-3">
		<img src="http://i.imgur.com/t014SH9.jpg" alt="CYBF" class="img-responsive">
	</div>
	<div class="col-sm-2">
		<h2>Prize $6,000 from</h2>
	</div>
	<div class="col-sm-3">
		<img src="http://i.imgur.com/7NWyu1d.jpg" alt="SaBeta Patent Services" class="img-responsive">
	</div>
	<div class="clearfix"></div>
</div>
<div class="row nbtc-competitions-success">
	<h1 class="text-center">Success Stories</h1>
	<div class="col-sm-10 col-sm-offset-1">
		<div class="stories">
			{% for s in site.data.success-stories %}
			<div class="story">
				<a href="{{ s.website }}" target="_blank">
					{% if s.logo %}
					<img src="{{ s.logo }}" alt="{{ s.name }}" width="150" class="img-thumbnail story-logo">
					{% else %}
					<h2>{{ s.name }}</h2>
					{% endif %}
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<script>
		$(window).load(function(){
			var $container = $('.stories');
			$container.isotope({
				itemSelector: '.story',
			});
		});
	</script>
	<div class="clearfix"></div>
</div>
<div id="nbtc-competitions-eligible" class="row nbtc-competitions-eligible">
	<h1 class="text-center">Who is eligible?</h1>
	<div class="col-sm-3 col-sm-offset-3 text-center">
		<h3>The Newcomers</h3>
		<p>
		The Newcomers are those who have an idea but have yet to take it to market. They are still under the idea ignition and prototyping stages. The Newcomers have yet to penetrate their space with significant sales, and are currently looking primarily for advice on  how to enhance their idea and get ready to execute.
		</p>
	</div>
	<div class="col-sm-3 text-center">
		<h3>The Veterans</h3>
		<p>
		The Veterans are those who have functioning products/services. They have been in market for less than 24 months and have generated significant revenue. They are looking for mentors to help take their business to the next level.
		</p>
	</div>
</div>
<div id="nbtc-competitions-qualify" class="row nbtc-competitions-qualify">
	<h1 class="text-center">How to Qualify</h1>
	<div class="col-sm-6">
		<h1>1</h1>
		<h2>Deadline: February 28, 2014</h2>
		<p>
		1) Organize a team of up to 4 people (students or young professionals)  to represent your startup/idea.
		<br>
		2) Create an elevator pitch and complete the <a href="https://docs.google.com/forms/d/1SEH5e8AMaecD9yFQy-Q4zDMwbiDZQJat_1GyNxiA6Co/viewform" target="_blank" style="color: white; text-decoration: underline;">application</a>. The elevator pitch will allow you to describe your startup idea and tell us why you deserve to compete at NBTC!
		</p>
	</div>
	<div class="col-sm-6">
		<h1>2</h1>
		<h2>Deadline: February 28, 2014</h2>
		<p>
		3) The top 30 teams will advance to the preliminary round. From there, they will be divided into two divisions: The Newcomers and The Veterans.
		</p>
	</div>
	<div class="col-sm-6" style="clear:both">
		<h1>3</h1>
		<h2>Preliminary Round: March 21,2014</h2>
		<p>
		4) The top 30 teams will present their 5 minute business pitches to a series of judges from 8AM &ndash; 12PM. Your business plan will be evaluated based on technological feasibility, market penetration strategy, organizational structure and financial projections.
		</p>
	</div>
	<div class="col-sm-6">
		<h1>4</h1>
		<h2>Final Round: March 21,2014</h2>
		<p>
		5) The top 2 teams within each division will be selected to compete in the final round.
		</p>
	</div>
	<div style="clear:both;"></div>
	<a href="https://docs.google.com/forms/d/1SEH5e8AMaecD9yFQy-Q4zDMwbiDZQJat_1GyNxiA6Co/viewform" target="_blank" class="btn btn-lg btn-warning nbtc-competitions-apply">Apply Now!</a>
	<p class="text-center">
	For any further questions, please contact Talha Zubair, Director of Competitions NBTC 2014 at <a href="mailto:talha.zubair@nspire.org" style="color: white; text-decoration: underline;">talha.zubair@nspire.org</a>
	<br><br>
	<strong>Key Takeaways: You do not have to have registered or bought a ticket to submit an application. However, we recommend you purchase your ticket as soon as possible in order to take advantage of the early-bird discount. Once submissions have been approved, notifications will be sent out to all successful teams with instructions and registration details. You will be required to purchase your ticket if accepted.</strong>
	</p>
</div>
