---
layout: nbtc
title: NBTC’14
---
<div id="nbtc-intro" class="row nbtc-intro">
	<img src="{{ site.baseurl }}/img/nbtc_logo_white.svg" alt="Nspire Innovation Network">
	<div class="nbtc-banner text-center">
		For the <span class="nbtc-banner-role">big thinker</span> in all of us
	</div>
	<script>
		$(document).ready(function() {
			var iteration = 0;
			var roles = ['big thinker', 'bold leader', 'aspiring entrepreneur', 'connector', 'techie', 'creative', 'hacker', 'game changer', 'designer'];
			var interval = setInterval(function() {
				$('.nbtc-banner-role').text(roles[iteration % 9]);
				iteration++;
			}, 2000);
		});
	</script>
	<div class="col-xs-4"></div>
	<div class="col-xs-4 pillar-info">
		<div class="col-xs-6 text-center pillar location">
			<img src="{{ site.baseurl }}/img/date.svg" alt="Location" class="pillar-logo">
			<h2>March 22-23, 2014</h2>
		</div>
		<div class="col-xs-6 text-center pillar location">
			<img src="{{ site.baseurl }}/img/location.svg" alt="Location" class="pillar-logo">
			<h2>The Carlu, Toronto</h2>
		</div>
	</div>
	<div class="clearfix"></div>
	<a href="https://uniiverse.com/nbtc-14" target="_blank" class="btn btn-lg nbtc-intro-tickets">Get Your Tickets Today</a>
</div>
<script>
	$("#nbtc-intro").height($(window).height());
</script>
<div id="nbtc-stats" class="row nbtc-stats">
	{% include nbtc-stats.html %}
</div>
<div id="nbtc-about" class="row nbtc-about">
	{% include nbtc-about.html %}
</div>
<div id="nbtc-quote" class="row nbtc-quote">
	{% include nbtc-quote.html %}
</div>
<div id="nbtc-speakers" class="row nbtc-speakers">
	{% include nbtc-speakers.html %}
</div>
<div id="nbtc-sponsors" class="row nbtc-sponsors">
	{% include nbtc-sponsors.html %}
</div>
<div id="nbtc-media" class="row nbtc-media">
	{% include nbtc-media.html %}
</div>
<div id="nbtc-countdown" class="row nbtc-countdown">
	{% include nbtc-countdown.html %}
</div>
